<footer>
    <div class="container">
        <div class="flex-lc ft">
            <div class="hotline">Hotline: <a href="tel:0833 168 368">0833 168 368</a></div>
            <div class="logo"><a href=""><img src="./assets/img/logo1.png" alt=""></a></div>
            <div class="register">
                <h5>Đăng kí nhận email</h5>
                <form method="" action="" class="pr">
                    <input type="text" name="" placeholder="Nhập email...">
                    <button type="submit" class="btn_submit"></button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h4>LIÊN HỆ</h4>
                <div class="info">
                    <p>Công ty cổ phần Đầu tư phát triển Thạch Sanh</p>
                    <p>Địa chỉ: Số 25D, 38/24 đường Xuân La, Phường Xuân La, Tây Hồ, Hà Nội</p>
                    <p>Văn Phòng tại: Số 1, đường Phạm Huy Thông, phường Ngọc Khánh, quận Ba Đình, Hà Nội</p>
                    <p>Website: tsic.com.vn - thachsanhinvestment.com.vn</p>
                    <p>Mail: info@tsic.com.vn</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <h4>GIỚI THIỆU</h4>
                <ul class="link">
                    <li><a href="" title="VỀ CHÚNG TÔI">VỀ CHÚNG TÔI</a></li>
                    <li><a href="" title="LỊCH SỬ TSI">LỊCH SỬ TSI</a></li>
                    <li><a href="" title="TẦM NHÌN SỨ MỆNH">TẦM NHÌN SỨ MỆNH</a></li>
                    <li><a href="" title="CHIẾN LƯỢC ĐẦU TƯ">CHIẾN LƯỢC ĐẦU TƯ</a></li>
                    <li><a href="" title="CÂU HỎI THƯỜNG GẶP">CÂU HỎI THƯỜNG GẶP</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h4>TÀI LIỆU TSI</h4>
                <ul class="link">
                    <li><a href="" title="KIẾN THỨC ĐẦU TƯ">KIẾN THỨC ĐẦU TƯ</a></li>
                    <li><a href="" title="LỊCH SỬ GIAO DỊCH">LỊCH SỬ GIAO DỊCH</a></li>
                    <li><a href="" title="BÁO CÁO HĐĐT">BÁO CÁO HĐĐT</a></li>
                    <li><a href="" title="HƯỚNG DẪN GIAO DỊCH">HƯỚNG DẪN GIAO DỊCH</a></li>
                    <li><a href="" title="ĐIỀU KHOẢN DỊCH VỤ">ĐIỀU KHOẢN DỊCH VỤ</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h4>tuyển dụng</h4>
            </div>
            <div class="col-lg-1 col-md-6">
                <h4>tin tức</h4>
                <ul class="link">
                    <li><a href="" title="TIN CHỨNG KHOÁN">TIN CHỨNG KHOÁN</a></li>
                    <li><a href="" title="VIDEO">VIDEO</a></li>
                    <li><a href="" title="HÌNH ẢNH">HÌNH ẢNH</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h4>hỗ trợ</h4>
                <ul class="link">
                    <li><a href="" title="DỊCH VỤ KHÁCH HÀNG">DỊCH VỤ KHÁCH HÀNG</a></li>
                    <li><a href="" title="TƯ VẤN">TƯ VẤN</a></li>
                </ul>
            </div>
        </div>
        <div class="social flex">
            <a href=""><i class="icon icon-facebook"></i></a>
            <a href=""><i class="icon icon-google"></i></a>
            <a href=""><i class="icon icon-zalo"></i></a>
        </div>
    </div>
    <div class="fb">
        <div class="container flex-lc">
            <div class="copyright">Copyright © Thach Sanh Investment Company</div>
            <button type="button" class="backtop flex-lc ml-auto">Về đầu trang <i class="icon icon-back"></i></button>
        </div>
    </div>
</footer>