<header>
    <div class="topheader show flex">
        <div class="container flex-lc">
            <div class="hotline">Hotline: <a href="tel:0833 168 368">0833 168 368</a></div>
            <div class="register flex-lc ml-auto">
                <h5>Cập nhật tin tức mới nhất. Đăng kí nhận tin ngay</h5>
                <form action="" method="" class="pr">
                    <input type="email" name="" placeholder="Nhập email...">
                    <button type="submit" class="btn_submit"></button>
                </form>
            </div>
        </div>
    </div>
</header>