<header>
    <div class="topheader flex">
        <div class="container flex-lc">
            <div class="hotline">Hotline: <a href="tel:0833 168 368">0833 168 368</a></div>
            <div class="register flex-lc ml-auto">
                <h5>Cập nhật tin tức mới nhất. Đăng kí nhận tin ngay</h5>
                <form action="" method="" class="pr">
                    <input type="email" name="" placeholder="Nhập email...">
                    <button type="submit" class="btn_submit"></button>
                </form>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <a class="logo" href=""><img src="./assets/img/logo.png" alt=""></a>
        <button class="navbar-toggler border-0" type="button">
            <span></span>
        </button>
        <div class="navbar-collapse" id="navbar">
            <a href="javascript:;" class="close" data-miss="collapse"></a>
            <ul class="navbar-nav">
                <li><a href="" title="trang chủ">trang chủ</a></li>
                <li>
                    <a href="" title="GIỚI THIỆU">GIỚI THIỆU</a>
                    <ul class="sub-menu">
                        <li><a href="" title="">về tsi</a></li>
                        <li><a href="" title="">thành tựu</a></li>
                        <li><a href="" title="">tầm nhìn sứ mệnh</a></li>
                        <li><a href="" title="">chiến lược đầu tư</a></li>
                        <li><a href="" title="">danh mục đầu tư</a></li>
                        <li><a href="" title="">phương pháp đầu tư</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" title="DỊCH VỤ">DỊCH VỤ</a>
                    <ul class="sub-menu">
                        <li><a href="" title="">gói đầu tư tstt</a></li>
                        <li><a href="" title="">gói đầu tư tsbv</a></li>
                        <li><a href="" title="">gói đầu tư tsat</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" title="KIẾN THỨC">KIẾN THỨC</a>
                    <ul class="sub-menu">
                        <li><a href="" title="">phân tích đầu tư</a></li>
                        <li><a href="" title="">sản phẩm đầu tư</a></li>
                    </ul>
                </li>
                <li><a href="" title="LIÊN HỆ">LIÊN HỆ</a></li>
            </ul>
            <div class="login">
                <div class="login__before">
                    <div class="dropdown user__info">
                        <button class="btn dropdown-toggle flex" type="button" data-toggle="dropdown">
                            <img src="./assets/img/user.png" class="avatar" alt="">
                        </button>
                        <div class="dropdown-menu" >
                            <a class="dropdown-item flex-lc" href="#"><i class="icon icon-tk"></i> tạo tài khoản</a>
                            <a class="dropdown-item flex-lc" href="#"><i class="icon icon-logout"></i> Đăng nhập</a>
                        </div>
                    </div>
                </div>
                <div class="login__after" style="display:none;">

                </div>
            </div>
            <div class="language">
                <button type="button" class="vn"><img src="./assets/img/vn.jpg" alt=""></button>
            </div>
        </div>
        <div class="login login-m">
            <div class="login__before">
                <div class="dropdown user__info">
                    <button class="btn dropdown-toggle flex" type="button" data-toggle="dropdown">
                        <img src="./assets/img/user.png" class="avatar" alt="">
                    </button>
                    <div class="dropdown-menu" >
                        <a class="dropdown-item flex-lc" href="#"><i class="icon icon-tk"></i> tạo tài khoản</a>
                        <a class="dropdown-item flex-lc" href="#"><i class="icon icon-logout"></i> Đăng nhập</a>
                    </div>
                </div>
            </div>
            <div class="login__after" style="display:none;">

            </div>
        </div>
    </nav>
</header>