<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/highcharts.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('.banner--1').slick({
            centerMode: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            centerPadding: 0,
            fade: true,
            dots: true,
            arrows: false
        });

        $('.service__list').slick({
            centerMode: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            centerPadding: 0,
            fade: true,
            dots: true,
            arrows: true
        });

        $('.partner__list').slick({
            centerMode: false,
            slidesToShow: 5,
            slidesToScroll: 1,
            infinite: true,
            centerPadding: 0,
            dots: false,
            arrows: true,
            responsive: [
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 3,
                    }
                }
            ]
        });

        $('.banner--2').slick({
            centerMode: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            centerPadding: 0,
            dots: true,
            arrows: true
        });

        $('.feedback__list').slick({
            centerMode: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            fade: true,
            centerPadding: 0,
            dots: false,
            arrows: true
        });

        $('.step li').hover(function () {
            $('.step li').removeClass('active');
            var ind = $(this).index() + 1;
            $('.gift__list li').css('display','none');
            $(`.gift__list li:nth-child(${ind})`).css('display','block');
            $(this).addClass('active');
        });
    });
</script>
<script>
    Highcharts.chart('chart1', {
        chart: {
            type: 'area',
            backgroundColor: 'transparent',
            style: {
                fontFamily: 'Open Sans',
            }
        },
        accessibility: {
            description: ''
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        legend:{
            itemStyle: {
                color: '#fff',
                fontWeight: '400',

            },
            itemHoverStyle: {
                color: '#fff'
            },
            itemCheckboxStyle: {
                width: '37px',
                height: '18px'
            },
            symbolWidth: 70
        },
        xAxis: {
            allowDecimals: false,
            labels: {
                formatter: function () {
                    return this.value; // clean, unformatted number for year
                },
                style:{
                    color: '#fff',
                    fontsize: '12.5px',
                    fontweight: '300'
                },
                align: 'center',
            },
            accessibility: {
                rangeDescription: 'Range: 2018 to 2021.'
            },
            gridLineColor:'#fff',
            gridLineDashStyle: 'ShortDash',
            title: {
                style:{
                    color: '#fff'
                }
            },

        },
        yAxis: {
            title: {
                text: 'Giá trị đơn vị đầu tư',
                style:{
                    color: '#ffffff'
                },
                margin: 25
            },
            labels: {
                formatter: function () {
                    return this.value / 1000 + 'k';
                },
                style:{
                    color: '#fff',
                    fontsize: '12.5px',
                    fontweight: '300'
                },
            },
            gridLineDashStyle: 'ShortDash',
            gridLineWidth: 0.8
        },
        tooltip: {
            useHTML:true,
            pointFormat: '<p><i class="icon-chart"></i> 50%</p>',
            backgroundColor: '#001434',
            borderColor: '#fff',
            style: {
                display: 'block',
                height: '50px',
                color: '#fff',
                fontWeight: '700',
                fontsize: '20px',
                textAlign: 'center',
                padding: '10px 16px',
                stroke: 'none',
                strokeWidth: '0'
            },
            dateTimeLabelFormats:{
                year: ' ',
            }
        },
        plotOptions: {
            area: {
                pointStart: 2018,
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                },
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, 'rgba(57, 247, 207,.6)'],
                        [1, 'rgba(57, 247, 207,0)']
                    ]
                },
                lineColor: '#00ff7f',
                lineWidth: 3,
            }
        },
        series: [{
            name: 'GIÁ TRỊ ĐƠN VỊ ĐẦU TƯ',
            data: [
                369, 640, 1005, 1436, 2063, 3057, 4618, 6444, 9822, 15468,
                20434, 24126, 27387, 29459, 31056, 31982, 32040, 31233, 29224, 27342,
                26662, 26956, 27912, 28999, 28965, 27826, 25579, 25722, 24826, 24605,
                24304, 23464, 23708, 24099, 24357, 24237, 24401, 24344, 23586, 22380,
                21004, 17287, 14747, 13076, 12555, 12144, 11009, 10950, 10871, 10824,
                10577, 10527, 10475, 10421, 10358, 10295, 10104, 9914, 9620, 9326,
                5113, 5113, 4954, 4804, 4761, 4717, 4368, 4018
            ],
            color: '#3cf2b2'
        }]
    });
    Highcharts.chart('chart5', {
        chart: {
            type: 'area',
            backgroundColor: 'transparent',
            style: {
                fontFamily: 'Open Sans',
            }
        },
        accessibility: {
            description: ''
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        legend:{
            itemStyle: {
                color: '#fff',
                fontWeight: '400',

            },
            itemHoverStyle: {
                color: '#fff'
            },
            itemCheckboxStyle: {
                width: '37px',
                height: '18px'
            },
            symbolWidth: 70
        },
        xAxis: {
            allowDecimals: false,
            labels: {
                formatter: function () {
                    return this.value; // clean, unformatted number for year
                },
                style:{
                    color: '#fff',
                    fontsize: '12.5px',
                    fontweight: '300'
                },
                align: 'center',
            },
            accessibility: {
                rangeDescription: 'Range: 2018 to 2021.'
            },
            gridLineColor:'#fff',
            gridLineDashStyle: 'ShortDash',
            title: {
                style:{
                    color: '#fff'
                }
            },

        },
        yAxis: {
            title: {
                text: 'Giá trị đơn vị đầu tư',
                style:{
                    color: '#ffffff'
                },
                margin: 25
            },
            labels: {
                formatter: function () {
                    return this.value / 1000 + 'k';
                },
                style:{
                    color: '#fff',
                    fontsize: '12.5px',
                    fontweight: '300'
                },
            },
            gridLineDashStyle: 'ShortDash',
            gridLineWidth: 0.8
        },
        tooltip: {
            useHTML:true,
            // pointFormat: '<p><i class="icon-chart"></i> 50%</p>',
            pointFormatter: function(){
                var tang1 = this.series.chart.series[0].data[(this.index)].y - this.series.chart.series[0].data[(this.index -1)].y ;
                var tang2 = this.series.chart.series[1].data[(this.index)].y - this.series.chart.series[1].data[(this.index -1)].y ;
                   if ((this.index -1)< 0) {
                    return '';
                   }
                   var cr1 =Math.round((tang1/this.series.chart.series[0].data[(this.index)].y)*100);
                   var cr2 =Math.round((tang1/this.series.chart.series[1].data[(this.index)].y)*100);

                    return '<div>1/01/'+ this.x +'  <div>'+this.series.chart.series[0].name+': '+ cr1 + ' %</div><div>'+this.series.chart.series[1].name+': '+ cr2 + ' %</div></div>';
                },
            backgroundColor: '#001434',
            borderColor: '#fff',
            style: {
                display: 'block',
                height: '50px',
                color: '#fff',
                fontWeight: '700',
                fontsize: '20px',
                textAlign: 'center',
                padding: '10px 16px',
                stroke: 'none',
                strokeWidth: '0'
            },
            dateTimeLabelFormats:{
                year: ' ',
            }
        },
        plotOptions: {
            area: {
                pointStart: 2018,
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                },
                lineColor: '#0000ff',
                lineWidth: 3,
            }
        },
        series: [{
            name: 'GIÁ TRỊ ĐƠN VỊ ĐẦU TƯ',
            data: [
                369, 640, 1005, 1436, 2063, 3057, 4618, 6444, 9822, 15468,
                20434, 24126, 27387, 29459, 31056, 31982, 32040, 31233, 29224, 27342,
                26662, 26956, 27912, 28999, 28965, 27826, 25579, 25722, 24826, 24605,
                24304, 23464, 23708, 24099, 24357, 24237, 24401, 24344, 23586, 22380,
                21004, 17287, 14747, 13076, 12555, 12144, 11009, 10950, 10871, 10824,
                10577, 10527, 10475, 10421, 10358, 10295, 10104, 9914, 9620, 9326,
                5113, 5113, 4954, 4804, 4761, 4717, 4368, 4018
            ],
            color: '#0000ff',
            fillColor : {
                linearGradient : [0, 0, 0, 300],
                stops: [
                    [0, 'rgba(57, 89, 248,.6)'],
                    [1, 'rgba(57, 89, 248,0)']
                ]
            },
        },{
            name: 'vnindex (%)',
            data: [
                269, 340, 905, 936, 663, 1057, 1618, 2444, 4822, 9468,
                10434, 14126, 17387, 19459, 21056, 21982, 22040, 21233, 19224, 17342,
                16662, 16956, 17912, 18999, 18965, 17826, 15579, 15722, 14826, 14605,
                14304, 13464, 13708, 14099, 14357, 14237, 14401, 14344, 13586, 12380,
                9004, 11287, 11747, 10076, 9555, 9144, 9009, 6950, 8871, 5824,
                6577, 5527, 6475, 7421, 9358, 8295, 8104, 4914, 5620, 5326,
                2213, 2213, 2254, 3304, 2261, 2217, 11368, 1118
            ],
            color: '#c00',
            lineColor: '#c00',
            fillColor : {
                linearGradient : [0, 0, 0, 300],
                stops : [
                    [0, 'rgba(244, 11, 11,.6)'],
                    [1, 'rgba(244, 11, 11,0)']
                ]
            },
        }]
    });
    Highcharts.chart('chart4', {
        chart: {
            type: 'area',
            backgroundColor: 'transparent',
            style: {
                fontFamily: 'Open Sans',
            }
        },
        accessibility: {
            description: ''
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        legend:{
            itemStyle: {
                color: '#fff',
                fontWeight: '400',

            },
            itemHoverStyle: {
                color: '#fff'
            },
            itemCheckboxStyle: {
                width: '37px',
                height: '18px'
            },
            symbolWidth: 70
        },
        xAxis: {
            allowDecimals: false,
            labels: {
                formatter: function () {
                    return this.value; // clean, unformatted number for year
                },
                style:{
                    color: '#fff',
                    fontsize: '12.5px',
                    fontweight: '300'
                },
                align: 'center',
            },
            accessibility: {
                rangeDescription: 'Range: 2018 to 2021.'
            },
            gridLineColor:'#fff',
            gridLineDashStyle: 'ShortDash',
            title: {
                style:{
                    color: '#fff'
                }
            },

        },
        yAxis: {
            title: {
                text: 'Giá trị đơn vị đầu tư',
                style:{
                    color: '#ffffff'
                },
                margin: 25
            },
            labels: {
                formatter: function () {
                    return this.value / 1000 + 'k';
                },
                style:{
                    color: '#fff',
                    fontsize: '12.5px',
                    fontweight: '300'
                },
            },
            gridLineDashStyle: 'ShortDash',
            gridLineWidth: 0.8
        },
        tooltip: {
            useHTML:true,
            // pointFormat: '<p><i class="icon-chart"></i> 50%</p>',
            pointFormatter: function(){
                var tang1 = this.series.chart.series[0].data[(this.index)].y - this.series.chart.series[0].data[(this.index -1)].y ;
                var tang2 = this.series.chart.series[1].data[(this.index)].y - this.series.chart.series[1].data[(this.index -1)].y ;
                   if ((this.index -1)< 0) {
                    return '';
                   }
                   var cr1 =Math.round((tang1/this.series.chart.series[0].data[(this.index)].y)*100);
                   var cr2 =Math.round((tang1/this.series.chart.series[1].data[(this.index)].y)*100);

                    return '<div>1/01/'+ this.x +'  <div>'+this.series.chart.series[0].name+': '+ cr1 + ' %</div><div>'+this.series.chart.series[1].name+': '+ cr2 + ' %</div></div>';
                },
            backgroundColor: '#001434',
            borderColor: '#fff',
            style: {
                display: 'block',
                height: '50px',
                color: '#fff',
                fontWeight: '700',
                fontsize: '20px',
                textAlign: 'center',
                padding: '10px 16px',
                stroke: 'none',
                strokeWidth: '0'
            },
            dateTimeLabelFormats:{
                year: ' ',
            }
        },
        plotOptions: {
            area: {
                pointStart: 2018,
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                },
                lineColor: '#00ff7f',
                lineWidth: 3,
            }
        },
        series: [{
            name: 'GIÁ TRỊ ĐƠN VỊ ĐẦU TƯ',
            data: [
                369, 640, 1005, 1436, 2063, 3057, 4618, 6444, 9822, 15468,
                20434, 24126, 27387, 29459, 31056, 31982, 32040, 31233, 29224, 27342,
                26662, 26956, 27912, 28999, 28965, 27826, 25579, 25722, 24826, 24605,
                24304, 23464, 23708, 24099, 24357, 24237, 24401, 24344, 23586, 22380,
                21004, 17287, 14747, 13076, 12555, 12144, 11009, 10950, 10871, 10824,
                10577, 10527, 10475, 10421, 10358, 10295, 10104, 9914, 9620, 9326,
                5113, 5113, 4954, 4804, 4761, 4717, 4368, 4018
            ],
            color: '#3cf2b2',
            fillColor : {
                linearGradient : [0, 0, 0, 300],
                stops : [
                    [0, 'rgba(57, 247, 207,.6)'],
                    [1, 'rgba(57, 247, 207,0)']
                ]
            },
        },{
            name: 'vnindex (%)',
            data: [
                269, 340, 905, 936, 663, 1057, 1618, 2444, 4822, 9468,
                10434, 14126, 17387, 19459, 21056, 21982, 22040, 21233, 19224, 17342,
                16662, 16956, 17912, 18999, 18965, 17826, 15579, 15722, 14826, 14605,
                14304, 13464, 13708, 14099, 14357, 14237, 14401, 14344, 13586, 12380,
                9004, 11287, 11747, 10076, 9555, 9144, 9009, 6950, 8871, 5824,
                6577, 5527, 6475, 7421, 9358, 8295, 8104, 4914, 5620, 5326,
                2213, 2213, 2254, 3304, 2261, 2217, 11368, 1118
            ],
            color: '#c00',
            lineColor: '#c00',
            fillColor : {
                linearGradient : [0, 0, 0, 300],
                stops : [
                    [0, 'rgba(244, 11, 11,.6)'],
                    [1, 'rgba(244, 11, 11,0)']
                ]
            },
        }]
    });
    Highcharts.chart('chart3', {
        chart: {
            type: 'area',
            backgroundColor: 'transparent',
            style: {
                fontFamily: 'Open Sans',
            }
        },
        accessibility: {
            description: ''
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        legend:{
            itemStyle: {
                color: '#fff',
                fontWeight: '400',

            },
            itemHoverStyle: {
                color: '#fff'
            },
            itemCheckboxStyle: {
                width: '37px',
                height: '18px'
            },
            symbolWidth: 70
        },
        xAxis: {
            allowDecimals: false,
            labels: {
                formatter: function () {
                    return this.value; // clean, unformatted number for year
                },
                style:{
                    color: '#fff',
                    fontsize: '12.5px',
                    fontweight: '300'
                },
                align: 'center',
            },
            accessibility: {
                rangeDescription: 'Range: 2018 to 2021.'
            },
            gridLineColor:'#fff',
            gridLineDashStyle: 'ShortDash',
            title: {
                style:{
                    color: '#fff'
                }
            },

        },
        yAxis: {
            title: {
                text: 'Giá trị đơn vị đầu tư',
                style:{
                    color: '#ffffff'
                },
                margin: 25
            },
            labels: {
                formatter: function () {
                    return this.value / 1000 + 'k';
                },
                style:{
                    color: '#fff',
                    fontsize: '12.5px',
                    fontweight: '300'
                },
            },
            gridLineDashStyle: 'ShortDash',
            gridLineWidth: 0.8
        },
        tooltip: {
            useHTML:true,
            pointFormat: '<p><i class="icon-chart"></i> 50%</p>',
            backgroundColor: '#001434',
            borderColor: '#fff',
            style: {
                display: 'block',
                height: '50px',
                color: '#fff',
                fontWeight: '700',
                fontsize: '20px',
                textAlign: 'center',
                padding: '10px 16px',
                stroke: 'none',
                strokeWidth: '0'
            },
            dateTimeLabelFormats:{
                year: ' ',
            }
        },
        plotOptions: {
            area: {
                pointStart: 2018,
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                },
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, 'rgba(57, 89, 248,.6)'],
                        [1, 'rgba(57, 89, 248,0)']
                    ]
                },
                lineColor: '#0000ff',
                lineWidth: 3,
            }
        },
        series: [{
            name: 'GIÁ TRỊ ĐƠN VỊ ĐẦU TƯ',
            data: [
                22369, 12640, 11005, 11436, 21063, 33057, 41618, 6444, 9822, 15468,
                20434, 24126, 27387, 29459, 31056, 31982, 32040, 31233, 29224, 27342,
                26662, 26956, 27912, 28999, 28965, 27826, 25579, 25722, 24826, 24605,
                24304, 23464, 23708, 24099, 24357, 24237, 24401, 24344, 23586, 22380,
                21004, 17287, 14747, 13076, 12555, 12144, 11009, 10950, 10871, 10824,
                10577, 10527, 10475, 10421, 10358, 10295, 10104, 9914, 9620, 9326,
                5113, 5113, 4954, 4804, 4761, 4717, 4368, 4018
            ],
            color: '#0000ff'
        }]
    });
    Highcharts.chart('chart2', {
        chart: {
            type: 'area',
            backgroundColor: 'transparent',
            style: {
                fontFamily: 'Open Sans',
            }
        },
        accessibility: {
            description: ''
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        legend:{
            itemStyle: {
                color: '#fff',
                fontWeight: '400',
                textTransform: 'uppercase',
            },
            itemHoverStyle: {
                color: '#fff'
            },
            itemCheckboxStyle: {
                width: '37px',
                height: '18px'
            },
            symbolWidth: 50
        },
        xAxis: {
            allowDecimals: false,
            labels: {
                formatter: function () {
                    return this.value; // clean, unformatted number for year
                },
                style:{
                    color: '#fff',
                    fontsize: '12.5px',
                    fontweight: '300'
                },
            },
            accessibility: {
                rangeDescription: 'Range: 1940 to 2017.'
            }
        },
        yAxis: {
            title: {
                text: ''
            },
            labels: {
                formatter: function () {
                    return this.value / 1000 + 'k';
                },
                style:{
                    color: '#fff',
                    fontsize: '12.5px',
                    fontweight: '300'
                },
            },
            gridLineDashStyle: 'ShortDash',
            gridLineWidth: 0.8
        },
        tooltip: {
            tooltip: {
                useHTML:true,
                pointFormat: '<p><i class="icon-chart"></i> 50%</p>',
                backgroundColor: '#001434',
                borderColor: '#fff',
                style: {
                    display: 'block',
                    height: '50px',
                    color: '#fff',
                    fontWeight: '700',
                    fontsize: '20px',
                    textAlign: 'center',
                    padding: '10px 16px',
                    stroke: 'none',
                    strokeWidth: '0'
                },
                dateTimeLabelFormats:{
                    year: ' ',
                }
            },
        },
        plotOptions: {
            area: {
                pointStart: 1940,
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                },
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, 'rgba(57, 247, 207,0)'],
                        [1, 'rgba(57, 247, 207,0)']
                    ]
                },
                lineColor: '#00ff7f',
                lineWidth: 4,
            },
        },
        series: [{
            name: 'tstt (%)',
            data: [
                null, null, null, null, null, 6, 11, 32, 110, 235,
                369, 640, 1005, 1436, 2063, 3057, 4618, 6444, 9822, 15468,
                20434, 24126, 27387, 29459, 31056, 31982, 32040, 31233, 29224, 27342,
                26662, 26956, 27912, 28999, 28965, 27826, 25579, 25722, 24826, 24605,
                24304, 23464, 23708, 24099, 24357, 24237, 24401, 24344, 23586, 22380,
                21004, 17287, 14747, 13076, 12555, 12144, 11009, 10950, 10871, 10824,
                10577, 10527, 10475, 10421, 10358, 10295, 10104, 9914, 9620, 9326,
                5113, 5113, 4954, 4804, 4761, 4717, 4368, 4018
            ],
            color: '#3cf2b2'
        }, {
            name: 'vnindex (%)',
            data: [null, null, null, null, null, null, null, null, null, null,
                5, 25, 50, 120, 150, 200, 426, 660, 869, 1060,
                1605, 2471, 3322, 4238, 5221, 6129, 7089, 8339, 9399, 10538,
                11643, 13092, 14478, 15915, 17385, 19055, 21205, 23044, 25393, 27935,
                30062, 32049, 33952, 35804, 37431, 39197, 45000, 43000, 41000, 39000,
                37000, 35000, 33000, 31000, 29000, 27000, 25000, 24000, 23000, 22000,
                21000, 20000, 19000, 18000, 18000, 17000, 16000, 15537, 14162, 12787,
                12600, 11400, 5500, 4512, 4502, 4502, 4500, 4500
            ],
            color: '#c00',
            lineColor: '#c00',
        },
            {
                name: 'TSBV (%)',
                data: [null, null, null, null, null, null, null, null, null, null,
                    1605, 2471, 3322, 4238, 5221, 6129, 7089, 8339, 9399, 10538,
                    11643, 13092, 14478, 15915, 17385, 19055, 21205, 23044, 25393, 27935,
                    35804, 37431, 39197, 45000, 43000, 41000,30062, 32049, 33952, 39000,
                    37000, 35000, 33000, 31000, 29000, 27000, 25000, 24000, 23000, 22000,
                    21000, 20000, 19000, 18000, 18000, 17000, 16000, 15537, 14162, 12787,
                    12600, 11400, 5500, 4512, 4502, 4502, 4500, 4500
                ],
                color: '#0000ff',
                lineColor: '#0000ff',
            }
        ]
    });

</script>
</body>
</html>