<main>
    <div class="banner banner--1 pr">
        <div class="item">
            <div class="banner__img"><img src="./assets/img/banner.jpg" alt=""></div>
            <div class="banner__content">
                <div class="container">
                    <h2 class="js-animation fadeup">Business Comes to
                        Those Who Wait</h2>
                    <p class="js-animation fadeup">The most important things are not things,
                        so we’ll design experiences</p>
                    <a href="" class="btn_viewmore flex-center js-animation fadeup">XEM THÊM</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="banner__img"><img src="./assets/img/banner3.jpg" alt=""></div>
            <div class="banner__content">
                <div class="container">
                    <h2 class="js-animation fadeup">Business Comes to
                        Those Who Wait</h2>
                    <p class="js-animation fadeup">The most important things are not things,
                        so we’ll design experiences</p>
                    <a href="" class="btn_viewmore flex-center js-animation fadeup">XEM THÊM</a>
                </div>
            </div>
        </div>
    </div>
    <div class="intro flex">
        <div class="intro__img">
            <img src="./assets/img/img-about.png" alt="">
        </div>
        <div class="intro__content">
            <h4 class="js-animation fadeup">VỀ THẠCH SANH INVESTMENT</h4>
            <p class="js-animation fadeup">Là hình thức góp vốn hợp tác đầu tư vào Thị trường Chứng khoán Việt Nam giữa các nhà đầu tư và Thạch Sanh Investment (TSI). Khoản đầu tư được quản lý trên cùng 1 tài khoản bởi đội ngũ chuyên gia giàu kinh nghiệm của TSI với mục tiêu mang lại lợi nhuận cao nhất cho Nhà đầu tư. Như vậy, hợp tác đầu tư với TSI là hình thức đầu tư chứng khoán gián tiếp thay vì Nhà đầu tư trực tiếp đầu tư trên thị trường chứng khoán.</p>
            <p class="js-animation fadeup">TSI chính là cầu nối nhằm giúp các nhà đầu tư cá nhân bước chân vào TTCK với thời gian và chi phí thấp nhất mà vẫn thu được lợi nhuận cao.</p>
            <a href="" class="btn_viewmore flex-center js-animation fadeup">Xem thêm</a>
        </div>
    </div>
    <div class="service bg-gray js-animation fadein">
        <div class="container">
            <h2 class="title">CÁC GÓI dich vụ</h2>
            <div class="service__list">
                <div class="item flex">
                    <div class="col-left">
                        <h4>ĐẦU TƯ TĂNG TRƯỞNG (TSTT)</h4>
                        <div class="statistical">
                            <div class="statistical__item">
                                <h5>Tài sản ròng</h5>
                                <span>34,850,676,498</span>
                            </div>
                            <div class="statistical__item">
                                <h5>Tổng số lượng ĐVĐT</h5>
                                <span>3,481,273</span>
                            </div>
                            <div class="statistical__item">
                                <h5>Giá 1 ĐVT</h5>
                                <span>10,011</span>
                            </div>
                        </div>
                        <div class="percent flex-center"><i class="icon icon-arr"></i> 0,53<sup>%</sup></div>
                        <div class="box-btn">
                            <a href="" class="btn btn_primary flex-center">ĐầU TƯ NGAY</a>
                            <a href="thachsanh/build/landing2.html" class="btn btn_secondary flex-center">xem thêm</a>
                        </div>
                    </div>
                    <div class="col-right">
                        <ul class="tab nav">
                            <li><a href="#tab1" data-toggle="tab" class="active">HIỆU QUẢ ĐẦU TƯ</a></li>
                            <li><a href="#tab2" data-toggle="tab">SO SÁNH VỚI VNINDEX</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab1">
                                <div class="text">Ngày 20/04/2018 - Giá trị đơn vị đầu tư : 7.333 (U)</div>
                                <div id="chart1" style="height: 335px;"></div>
                                <div class="info flex-center">
                                    <h5>VNINDEX:</h5>
                                    <span>19.720,00</span>
                                    <span>63,00</span>
                                    <span>0,32%</span>
                                </div>
                                <div class="featured">
                                    <h4>ĐẶC TRƯNG GÓI ĐẦU TƯ</h4>
                                    <ul class="featured__list flex">
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-dt1.png" class="nm" alt="">
                                                <img src="./assets/img/icon-dt1-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt">Đầu tư vào cổ phiếu</div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-company.png" class="nm" alt="">
                                                <img src="./assets/img/icon-company-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt"></div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-mt.png" class="nm" alt="">
                                                <img src="./assets/img/icon-mt-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt"></div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-invest.png" class="nm" alt="">
                                                <img src="./assets/img/icon-invest-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt"></div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-db.png" class="nm" alt="">
                                                <img src="./assets/img/icon-db-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt"></div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-rr.png" class="nm" alt="">
                                                <img src="./assets/img/icon-rr-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab2">
                                <div class="text">Ngày 20/04/2018 - Giá trị đơn vị đầu tư : 7.333 (U)</div>
                                <div id="chart4" style="height: 335px;"></div>
                                <div class="info flex-center">
                                    <h5>VNINDEX:</h5>
                                    <span>19.720,00</span>
                                    <span>63,00</span>
                                    <span>0,32%</span>
                                </div>
                                <div class="featured">
                                    <h4>ĐẶC TRƯNG GÓI ĐẦU TƯ</h4>
                                    <ul class="featured__list flex">
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-dt1.png" class="nm" alt="">
                                                <img src="./assets/img/icon-dt1-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt">Đầu tư vào cổ phiếu</div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-company.png" class="nm" alt="">
                                                <img src="./assets/img/icon-company-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt"></div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-mt.png" class="nm" alt="">
                                                <img src="./assets/img/icon-mt-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt"></div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-invest.png" class="nm" alt="">
                                                <img src="./assets/img/icon-invest-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt"></div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-db.png" class="nm" alt="">
                                                <img src="./assets/img/icon-db-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt"></div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-rr.png" class="nm" alt="">
                                                <img src="./assets/img/icon-rr-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item flex">
                    <div class="col-left">
                        <h4>ĐẦU TƯ TĂNG TRƯỞNG (TSBV)</h4>
                        <div class="statistical">
                            <div class="statistical__item">
                                <h5>Tài sản ròng</h5>
                                <span>34,850,676,498</span>
                            </div>
                            <div class="statistical__item">
                                <h5>Tổng số lượng ĐVĐT</h5>
                                <span>3,481,273</span>
                            </div>
                            <div class="statistical__item">
                                <h5>Giá 1 ĐVT</h5>
                                <span>Giá 1 ĐVT</span>
                            </div>
                        </div>
                        <div class="percent flex-center"><i class="icon icon-arr"></i> 0,53<sup>%</sup></div>
                        <div class="box-btn">
                            <a href="" class="btn btn_primary flex-center">ĐầU TƯ NGAY</a>
                            <a href="thachsanh/build/landing.html" class="btn btn_secondary flex-center">xem thêm</a>
                        </div>
                    </div>
                    <div class="col-right">
                        <ul class="tab nav">
                            <li><a href="#tab3" data-toggle="tab" class="active">HIỆU QUẢ ĐẦU TƯ</a></li>
                            <li><a href="#tab4" data-toggle="tab">SO SÁNH VỚI VNINDEX</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab3">
                                <div class="text">Ngày 20/04/2018 - Giá trị đơn vị đầu tư : 7.333 (U)</div>
                                <div id="chart3" style="height: 335px;"></div>
                                <div class="info flex-center">
                                    <h5>VNINDEX:</h5>
                                    <span>19.720,00</span>
                                    <span>63,00</span>
                                    <span>0,32%</span>
                                </div>
                                <div class="featured">
                                    <h4>ĐẶC TRƯNG GÓI ĐẦU TƯ</h4>
                                    <ul class="featured__list flex">
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-dt1.png" class="nm" alt="">
                                                <img src="./assets/img/icon-dt1-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt">Đầu tư vào cổ phiếu</div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-company.png" class="nm" alt="">
                                                <img src="./assets/img/icon-company-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt"></div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-mt.png" class="nm" alt="">
                                                <img src="./assets/img/icon-mt-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt"></div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-invest.png" class="nm" alt="">
                                                <img src="./assets/img/icon-invest-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt"></div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-db.png" class="nm" alt="">
                                                <img src="./assets/img/icon-db-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt"></div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-rr.png" class="nm" alt="">
                                                <img src="./assets/img/icon-rr-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab4">
                                <div class="text">Ngày 20/04/2018 - Giá trị đơn vị đầu tư : 7.333 (U)</div>
                                <div id="chart5" style="height: 335px;"></div>
                                <div class="info flex-center">
                                    <h5>VNINDEX:</h5>
                                    <span>19.720,00</span>
                                    <span>63,00</span>
                                    <span>0,32%</span>
                                </div>
                                <div class="featured">
                                    <h4>ĐẶC TRƯNG GÓI ĐẦU TƯ</h4>
                                    <ul class="featured__list flex">
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-dt1.png" class="nm" alt="">
                                                <img src="./assets/img/icon-dt1-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt">Đầu tư vào cổ phiếu</div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-company.png" class="nm" alt="">
                                                <img src="./assets/img/icon-company-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt"></div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-mt.png" class="nm" alt="">
                                                <img src="./assets/img/icon-mt-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt"></div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-invest.png" class="nm" alt="">
                                                <img src="./assets/img/icon-invest-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt"></div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-db.png" class="nm" alt="">
                                                <img src="./assets/img/icon-db-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt"></div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="./assets/img/icon-rr.png" class="nm" alt="">
                                                <img src="./assets/img/icon-rr-hv.png" class="hv" alt="">
                                            </div>
                                            <div class="txt"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="join">
        <div class="container">
            <h2 class="title">3 bước tham gia</h2>
            <div class="flex-lc">
                <div class="gift pr">
                    <ul class="gift__list">
                        <li style="display: block;"><img src="./assets/img/banner2.jpg" alt=""></li>
                        <li><img src="./assets/img/banner4.jpg" alt=""></li>
                        <li><img src="./assets/img/banner4.jpg" alt=""></li>
                    </ul>
                </div>
                <ul class="step pr">
                    <li class="active">
                        <div class="number flex-center">1</div>
                        <div class="content">
                            <h5>Bước 1</h5>
                            <span>Đăng kí tài khoản</span>
                        </div>
                    </li>
                    <li>
                        <div class="number flex-center">2</div>
                        <div class="content">
                            <h5>Bước 2</h5>
                            <span>Giao dịch</span>
                        </div>
                    </li>
                    <li>
                        <div class="number flex-center">3</div>
                        <div class="content">
                            <h5>Bước 3</h5>
                            <span>Chuyển khoản</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="effective">
        <div class="container">
            <h2 class="title">HIỆU QUẢ ĐẦU TƯ</h2>
            <ul class="tab nav flex">
                <li class="js-animation fadeup">
                    <a href="#week" data-toggle="tab" class="active">
                        <span class="icon">
                            <img src="./assets/img/icon-calendar1.png" class="nm" alt="">
                            <img src="./assets/img/icon-calendar.png" class="hv" alt="">
                        </span>
                        THEO TUẦN
                    </a>
                </li>
                <li class="js-animation fadeup">
                    <a href="#month" data-toggle="tab">
                        <span class="icon">
                            <img src="./assets/img/icon-month.png" class="nm" alt="">
                            <img src="./assets/img/icon-month-hv.png" class="hv" alt="">
                        </span>
                        THEO THÁNG
                    </a>
                </li>
                <li class="js-animation fadeup">
                    <a href="#stage" data-toggle="tab">
                        <span class="icon">
                            <img src="./assets/img/icon-gd.png" class="nm" alt="">
                            <img src="./assets/img/icon-gd-hv.png" class="hv" alt="">
                        </span>
                        THEO GIAI ĐOẠN
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="week">
                    <div class="chart">
                        <div id="chart2"></div>
                    </div>
                </div>
                <div class="tab-pane fade bg-pane" id="month">
                    <div class="pane-content">
                        <h4>Báo cáo danh mục đầu tư tuần 01/03/2021</h4>
                        <div class="box-table">
                            <table>
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Cổ phiểu</th>
                                    <th>Số lượng</th>
                                    <th>Gía vốn(nghìn đ)</th>
                                    <th>Giá  thị trượng(nghìn đ)</th>
                                    <th>lãi/lỗ(%)</th>
                                    <th>Tỷ trọng(%)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ACV</td>
                                    <td>20,000</td>
                                    <td>77,10</td>
                                    <td>77.0</td>
                                    <td>(0.14)</td>
                                    <td>1.85</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <a href="" class="more text-right">Xem thêm >>></a>
                    </div>
                </div>
                <div class="tab-pane fade bg-pane" id="stage">
                    <div class="pane-content">
                        <h4>Báo cáo danh mục đầu tư tuần 01/03/2021</h4>
                        <div class="box-table">
                            <table>
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Cổ phiểu</th>
                                    <th>Số lượng</th>
                                    <th>Gía vốn(nghìn đ)</th>
                                    <th>Giá  thị trượng(nghìn đ)</th>
                                    <th>lãi/lỗ(%)</th>
                                    <th>Tỷ trọng(%)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ACV</td>
                                    <td>20,000</td>
                                    <td>77,10</td>
                                    <td>77.0</td>
                                    <td>(0.14)</td>
                                    <td>1.85</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <a href="" class="more text-right">Xem thêm >>></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="report">
        <div class="container">
            <ul class="tab nav">
                <li><a href="#report1" data-toggle="tab" class="active">báo cáo nav</a></li>
                <li><a href="#report2" data-toggle="tab">danh mục đầu tư</a></li>
                <li><a href="#report3" data-toggle="tab">báo cáo hđđt</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="report1">
                    <ul class="tab-sub nav">
                        <li><a href="#ts1" data-toggle="tab" class="active">ĐT tăng trưởng TSTT</a></li>
                        <li><a href="#ts2" data-toggle="tab">ĐT bền vững TSBV</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="ts1">
                            <h4>Báo cáo danh mục đầu tư tuần 01/03/2021</h4>
                            <div class="box-table">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Cổ phiểu</th>
                                        <th>Số lượng</th>
                                        <th>Gía vốn(nghìn đ)</th>
                                        <th>Giá  thị trượng(nghìn đ)</th>
                                        <th>lãi/lỗ(%)</th>
                                        <th>Tỷ trọng(%)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>ACV</td>
                                        <td>20,000</td>
                                        <td>77,10</td>
                                        <td>77.0</td>
                                        <td>(0.14)</td>
                                        <td>1.85</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="" class="more text-right">Xem thêm >>></a>
                        </div>
                        <div class="tab-pane fade" id="ts2">
                            <div class="box-table">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Cổ phiểu</th>
                                        <th>Số lượng</th>
                                        <th>Gía vốn(nghìn đ)</th>
                                        <th>Giá  thị trượng(nghìn đ)</th>
                                        <th>lãi/lỗ(%)</th>
                                        <th>Tỷ trọng(%)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>ACV</td>
                                        <td>20,000</td>
                                        <td>77,10</td>
                                        <td>77.0</td>
                                        <td>(0.14)</td>
                                        <td>1.85</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="" class="more text-right">Xem thêm >>></a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="report2">
                    <ul class="tab-sub nav">
                        <li><a href="#ts3" data-toggle="tab" class="active">ĐT tăng trưởng TSTT</a></li>
                        <li><a href="#ts4" data-toggle="tab">ĐT bền vững TSBV</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="ts3">
                            <h4>Báo cáo danh mục đầu tư tuần 01/03/2021</h4>
                            <div class="box-table">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Cổ phiểu</th>
                                        <th>Số lượng</th>
                                        <th>Gía vốn(nghìn đ)</th>
                                        <th>Giá  thị trượng(nghìn đ)</th>
                                        <th>lãi/lỗ(%)</th>
                                        <th>Tỷ trọng(%)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>ACV</td>
                                        <td>20,000</td>
                                        <td>77,10</td>
                                        <td>77.0</td>
                                        <td>(0.14)</td>
                                        <td>1.85</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="" class="more text-right">Xem thêm >>></a>
                        </div>
                        <div class="tab-pane fade" id="ts4">
                            <div class="box-table">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Cổ phiểu</th>
                                        <th>Số lượng</th>
                                        <th>Gía vốn(nghìn đ)</th>
                                        <th>Giá  thị trượng(nghìn đ)</th>
                                        <th>lãi/lỗ(%)</th>
                                        <th>Tỷ trọng(%)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>ACV</td>
                                        <td>20,000</td>
                                        <td>77,10</td>
                                        <td>77.0</td>
                                        <td>(0.14)</td>
                                        <td>1.85</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="" class="more text-right">Xem thêm >>></a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="report3">
                    <ul class="report__list">
                        <li>
                            <h5>Báo cáo hoạt động tư vấn 29/1/2021</h5>
                            <a href="" class="btn_download flex-center">Tải về</a>
                        </li>
                        <li>
                            <h5>Báo cáo hoạt động tư vấn 29/1/2021</h5>
                            <a href="" class="btn_download flex-center">Tải về</a>
                        </li>
                        <li>
                            <h5>Báo cáo hoạt động tư vấn 29/1/2021</h5>
                            <a href="" class="btn_download flex-center">Tải về</a>
                        </li>
                    </ul>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">...</li>
                        <li class="page-item"><a class="page-link" href="#">23</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="tariff">
        <div class="container">
            <h2 class="title">BIỂU PHÍ ĐƠN GIẢN</h2>
            <ul class="tariff__list flex">
                <li class="js-animation fadein">
                    <div class="content">
                        <h5>Đăng kí</h5>
                        <span>Miễn phí</span>
                    </div>
                </li>
                <li class="js-animation fadein">
                    <div class="content">
                        <h5>Phí quản lí</h5>
                        <span>Miễn phí</span>
                    </div>
                    <div class="text">Áp dụng với các gói đầu tư có thời hạn trên 6 tháng</div>
                </li>
                <li class="js-animation fadein">
                    <div class="content">
                        <h5>Phí rút</h5>
                        <span>Miễn phí</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="partner">
        <div class="container">
            <div class="partner__list">
                <div class="item"><a href=""><img src="./assets/img/spotify.png" alt=""></a></div>
                <div class="item"><a href=""><img src="./assets/img/microsoft.png" alt=""></a></div>
                <div class="item"><a href=""><img src="./assets/img/todolist.png" alt=""></a></div>
                <div class="item"><a href=""><img src="./assets/img/showcase.png" alt=""></a></div>
                <div class="item"><a href=""><img src="./assets/img/clover.png" alt=""></a></div>
                <div class="item"><a href=""><img src="./assets/img/todolist.png" alt=""></a></div>
            </div>
        </div>
    </div>
    <div class="banner banner--2 pr">
        <div class="item pr">
            <div class="item__img"><img src="./assets/img/banner2.jpg" alt=""></div>
            <div class="item__content flex-center">
                <h4>PHƯƠNG PHÁP ĐẦU TƯ</h4>
                <p>The most important things are not things,
                    so we’ll design experiences</p>
                <a href="" class="btn_viewmore flex-center">XEM THÊM</a>
            </div>
        </div>
        <div class="item pr">
            <div class="item__img"><img src="./assets/img/banner1.jpg" alt=""></div>
            <div class="item__content flex-center">
                <h4>PHƯƠNG PHÁP ĐẦU TƯ</h4>
                <p>The most important things are not things,
                    so we’ll design experiences</p>
                <a href="" class="btn_viewmore flex-center">XEM THÊM</a>
            </div>
        </div>
    </div>
    <div class="feedback">
        <div class="container">
            <h2 class="title">CẢM NHẬN KHÁCH HÀNG</h2>
            <div class="feedback__list">
                <div class="item flex">
                    <div class="item__content">
                        <p>“Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci”</p>
                        <span>Lorem ipsum</span>
                    </div>
                    <div class="item__img">
                        <img src="./assets/img/feedback.jpg" alt="">
                    </div>
                </div>
                <div class="item flex">
                    <div class="item__content">
                        <p>“Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci”</p>
                        <span>Lorem ipsum</span>
                    </div>
                    <div class="item__img">
                        <img src="./assets/img/feedback.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="benefit">
        <div class="container">
            <h2 class="title">lợi ích khi đầu tư vào tsi</h2>
            <ul class="benefit__list flex">
                <li class="js-animation fadeup">
                    <div class="icon"><img src="./assets/img/icon-tln.png" alt=""></div>
                    <h5>Tăng lợi nhuận</h5>
                </li>
                <li class="js-animation fadeup">
                    <div class="icon"><img src="./assets/img/icon-dt.png" alt=""></div>
                    <h5>Đầu tư chuyên nghiệp</h5>
                </li>
                <li class="js-animation fadeup">
                    <div class="icon"><img src="./assets/img/icon-rv.png" alt=""></div>
                    <h5>Rút vốn dễ dàng</h5>
                </li>
                <li class="js-animation fadeup">
                    <div class="icon"><img src="./assets/img/icon-ut.png" alt=""></div>
                    <h5>Minh bạch - Uy tín</h5>
                </li>
            </ul>
        </div>
    </div>
    <div class="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h2 class="title"><a href="">TIN TỨC</a></h2>
                    <div class="highlights">
                        <article class="post flex">
                            <a href="" class="post__thumb"><img src="./assets/img/thumb.jpg" alt=""></a>
                            <div class="post__content">
                                <h3><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="news__list flex">
                        <article class="post">
                            <a href="" class="post__thumb"><img src="./assets/img/thumb.jpg" alt=""></a>
                            <h3><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</a></h3>
                        </article>
                        <article class="post">
                            <a href="" class="post__thumb"><img src="./assets/img/thumb.jpg" alt=""></a>
                            <h3><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</a></h3>
                        </article>
                        <article class="post">
                            <a href="" class="post__thumb"><img src="./assets/img/thumb.jpg" alt=""></a>
                            <h3><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</a></h3>
                        </article>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="video">
                        <h2 class="title"><a href="">VIDEO</a></h2>
                        <div class="video__hig">
                            <video controls>
                                <source src="./assets/img/mov_bbb.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="video__list">
                            <article class="post post--video flex">
                                <a href="" class="post__thumb"><img src="./assets/img/thumb.jpg" alt=""></a>
                                <div class="post__content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                </div>
                            </article>
                            <article class="post post--video flex">
                                <a href="" class="post__thumb"><img src="./assets/img/thumb.jpg" alt=""></a>
                                <div class="post__content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>