<main>
    <div class="banner banner--1 pr">
        <div class="banner__img"><img src="./assets/img/banner4.jpg" alt=""></div>
        <div class="banner__content pt-0">
            <div class="container">
                <div class="content flex">
                    <h2>Business Comes to
                        Those Who Wait</h2>
                    <p>The most important things are not things,
                        so we’ll design experiences</p>
                    <div class="box-btn flex">
                        <a href="" class="btn_primary flex-center">ĐẦU TƯ NGAY</a>
                        <a href="" class="btn_secondary flex-center">MỞ TÀI KHOẢN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="introduce container flex">
        <div class="introduce__content">
            <h4>TSI HẤP DẪN CÁC NHÀ ĐẦU TƯ NHƯ THẾ NÀO ?</h4>
            <p>Là hình thức góp vốn hợp tác đầu tư vào Thị trường Chứng khoán Việt Nam giữa các nhà đầu tư và Thạch Sanh Investment (TSI). Khoản đầu tư được quản lý trên cùng 1 tài khoản bởi đội ngũ chuyên gia giàu kinh nghiệm của TSI với mục tiêu mang lại lợi nhuận cao nhất cho Nhà đầu tư. Như vậy, hợp tác đầu tư với TSI là hình thức đầu tư chứng khoán gián tiếp thay vì Nhà đầu tư trực tiếp đầu tư trên thị trường chứng khoán.</p>
            <p>TSI chính là cầu nối nhằm giúp các nhà đầu tư cá nhân bước chân vào TTCK với thời gian và chi phí thấp nhất mà vẫn thu được lợi nhuận cao.</p>
        </div>
        <div class="introduce__video">
            <video controls>
                <source src="./assets/img/mov_bbb.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="characteristics">
        <div class="container">
            <h2 class="title">ĐẶC TRƯNG CỦA GÓI ĐẦU TƯ</h2>
            <ul class="characteristics__list flex">
                <li>
                    <div class="icon flex-center"><img src="./assets/img/icon-dt1.png" alt=""></div>
                    <h5>ĐẦU TƯ CHUYÊN NGHIỆP</h5>
                    <p>Đầu tư vào cổ phiếu</p>
                </li>
                <li>
                    <div class="icon flex-center"><img src="./assets/img/icon-company.png" alt=""></div>
                    <h5>UY TÍN VÀ MINH BẠCH</h5>
                    <p>Tập trung vào các công ty có khả năng <br> tăng trưởng mạnh trong ngắn hạn</p>
                </li>
                <li>
                    <div class="icon flex-center"><img src="./assets/img/icon-mt.png" alt=""></div>
                    <h5>SINH LỜI HIỆU QUẢ</h5>
                    <p>Mục tiêu đầu tư: <br> 50 - 100%/ năm</p>
                </li>
                <li>
                    <div class="icon flex-center"><img src="./assets/img/icon-invest.png" alt=""></div>
                    <h5>KHÔNG CẦN VỐN LỚN</h5>
                    <p>Vốn đầu tư tối thiểu 10 triệu đồng</p>
                </li>
                <li>
                    <div class="icon flex-center"><img src="./assets/img/icon-db.png" alt=""></div>
                    <h5>ĐẦU TƯ CHUYÊN NGHIỆP</h5>
                    <p>Không sử dụng đòn bảy tài chính <br> Quản trị rủi ro ưu việt</p>
                </li>
                <li>
                    <div class="icon flex-center"><img src="./assets/img/icon-rr1.png" alt=""></div>
                    <h5>THANH KHOẢN LINH HOẠT</h5>
                    <p>Rút tiền sau thứ năm hàng tuần</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="service bg-gray">
        <div class="container">
            <h2 class="title">HIỆU QUẢ ĐẦU TƯ</h2>
            <div class="flex">
                <div class="col-left">
                    <h4>ĐẦU TƯ TĂNG TRƯỞNG (TSTT)</h4>
                    <div class="statistical">
                        <div class="statistical__item">
                            <h5>Tài sản ròng</h5>
                            <span>34,850,676,498</span>
                        </div>
                        <div class="statistical__item">
                            <h5>Tổng số lượng ĐVĐT</h5>
                            <span>3,481,273</span>
                        </div>
                        <div class="statistical__item">
                            <h5>Giá 1 ĐVT</h5>
                            <span>10,011</span>
                        </div>
                    </div>
                    <div class="percent flex-center"><i class="icon icon-arr"></i> 0,53<sup>%</sup></div>
                    <div class="box-btn">
                        <a href="" class="btn btn_primary flex-center">ĐầU TƯ NGAY</a>
                    </div>
                </div>
                <div class="col-right">
                    <ul class="tab nav">
                        <li><a href="#tab1" data-toggle="tab" class="active">HIỆU QUẢ ĐẦU TƯ</a></li>
                        <li><a href="#tab2" data-toggle="tab">SO SÁNH VỚI VNINDEX</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab1">
                            <div class="text">Ngày 20/04/2018 - Giá trị đơn vị đầu tư : 7.333 (U)</div>
                            <div id="chart1" style="height: 335px;"></div>
                            <div class="info flex-center">
                                <h5>VNINDEX:</h5>
                                <span>19.720,00</span>
                                <span>63,00</span>
                                <span>0,32%</span>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab2">
                            <div class="text">Ngày 20/04/2018 - Giá trị đơn vị đầu tư : 7.333 (U)</div>
                            <div id="chart4" style="height: 335px;"></div>
                            <div class="info flex-center">
                                <h5>VNINDEX:</h5>
                                <span>19.720,00</span>
                                <span>63,00</span>
                                <span>0,32%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="report report--cs">
        <div class="container">
            <ul class="tab nav">
                <li><a href="#report1" data-toggle="tab" class="active">báo cáo nav</a></li>
                <li><a href="#report2" data-toggle="tab">danh mục đầu tư</a></li>
                <li><a href="#report3" data-toggle="tab">báo cáo hđđt</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="report1">
                    <div class="box-table">
                        <table>
                            <thead>
                            <tr>
                                <th>Ngày định giá</th>
                                <th>Tài sản ròng (NAV)</th>
                                <th>Số lượng ĐVĐT (U)</th>
                                <th>Giá 1 ĐVĐT (NAV/ĐVĐT)</th>
                                <th>Tăng giảm(%)</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>02/03/2021</td>
                                    <td>35,422,211,253</td>
                                    <td>3,480,290</td>
                                    <td>10,178</td>
                                    <td><span class="up">0.67%</span></td>
                                </tr>
                                <tr>
                                    <td>02/03/2021</td>
                                    <td>35,422,211,253</td>
                                    <td>3,480,290</td>
                                    <td>10,178</td>
                                    <td><span class="down">0.67%</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="" class="more text-right">Xem thêm >>></a>
                </div>
                <div class="tab-pane fade" id="report2"></div>
                <div class="tab-pane fade" id="report3"></div>
            </div>
        </div>
    </div>
    <div class="policy">
        <div class="container">
            <h2 class="title">ĐIỀU KHOẢN DỊCH VỤ</h2>
            <ul class="tab nav">
                <li><a href="#policy1" class="active" data-toggle="tab">CÁCH TÍNH ĐƠN VỊ ĐẦU TƯ</a></li>
                <li><a href="#policy2" data-toggle="tab">PHÂN CHIA LỢI NHUẬN</a></li>
                <li><a href="#policy3" data-toggle="tab">HOA HỒNG GIỚI THIỆU</a></li>
                <li><a href="#policy4" data-toggle="tab">BIỂU PHÍ</a></li>
                <li><a href="#policy5" data-toggle="tab">RỦI RO</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="policy1">
                    <div class="document">
                        <img src="./assets/img/pdf.jpg" alt="">
                    </div>
                </div>
                <div class="tab-pane fade" id="policy2">
                    <div class="document"></div>
                </div>
                <div class="tab-pane fade" id="policy3">
                    <div class="document"></div>
                </div>
                <div class="tab-pane fade" id="policy4">
                    <div class="document"></div>
                </div>
                <div class="tab-pane fade" id="policy5">
                    <div class="document"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion">
        <div class="item active">
            <div class="item__header flex-lc">
                <h5>DANH MỤC CHỌN LỌC</h5>
                <button type="button"></button>
            </div>
            <div class="item__content">
                12
            </div>
        </div>
        <div class="item">
            <div class="item__header flex-lc">
                <h5>PHƯƠNG PHÁP ĐẦU TƯ</h5>
                <button type="button"></button>
            </div>
            <div class="item__content">

            </div>
        </div>
        <div class="item">
            <div class="item__header flex-lc">
                <h5>CHIẾN LƯỢC ĐẦU TƯ</h5>
                <button type="button"></button>
            </div>
            <div class="item__content">

            </div>
        </div>
        <div class="item">
            <div class="item__header flex-lc">
                <h5>QUẢN TRỊ RỦI RO</h5>
                <button type="button"></button>
            </div>
            <div class="item__content">

            </div>
        </div>
        <div class="item">
            <div class="item__header flex-lc">
                <h5>HƯỚNG DẪN GIAO DỊCH</h5>
                <button type="button"></button>
            </div>
            <div class="item__content">

            </div>
        </div>
        <div class="item">
            <div class="item__header flex-lc">
                <h5>Q&A</h5>
                <button type="button"></button>
            </div>
            <div class="item__content">

            </div>
        </div>
    </div>
    <div class="feedback pt-fb">
        <div class="container">
            <h2 class="title">CẢM NHẬN KHÁCH HÀNG</h2>
            <div class="feedback__list">
                <div class="item flex">
                    <div class="item__content">
                        <p>“Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci”</p>
                        <span>Lorem ipsum</span>
                    </div>
                    <div class="item__img">
                        <img src="./assets/img/feedback.jpg" alt="">
                    </div>
                </div>
                <div class="item flex">
                    <div class="item__content">
                        <p>“Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci”</p>
                        <span>Lorem ipsum</span>
                    </div>
                    <div class="item__img">
                        <img src="./assets/img/feedback.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>