:root{
  --green: #006633;
  --utm-avobold: utm-avobold, sans-serif;
}
body{
  width: 100%;
  background: #f4f3f6;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.4;
  overflow-x: hidden;
}

@font-face {
  font-family: utm-avobold;
  src: url("#{$font-path}/utm-avobold.ttf");
}

body.modal-open {
  overflow-y: inherit;
  padding-right: 0 !important;
}
a{transition: .15s;}
a:hover{text-decoration: none;}
img{max-width: 100%;}
h1,h2,h3,h4,h5{font-size: inherit; margin-bottom: 0;}

@mixin center{
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
// ---------- header --------- //
header{
  width: 100%;
  background: #fff;
  z-index: 99;
  &.scroll{
    position: fixed; top: 0;
    animation: moveheader .3s linear;
    backface-visibility: hidden;
    box-shadow: 0 1px 10px #9d9d9d;
    .topheader{display: none;}
    .topheader.show{display: flex !important;}
    .navbar{padding: 0 15px;}
    .logo{width: 120px;}
    .navbar-nav{
      .sub-menu{top: vw(61px);}
      > li > a{line-height: 60px;}
    }
    .login{
      .dropdown-menu{top: 42px;}
    }
  }
  .topheader{
    height: 53px;
    align-items: center;
    background: var(--green);
    color: #fff; font-size: 14.6px;
  }
  .logo{width: 183px;}
  .login{
    margin-left: 12px;
    line-height: 1;
    &__after{align-items: center;}
    &__before{
      a{color: #fff; text-transform: uppercase;}
    }
    .notifi{
      width: 18px; height: 19px;
      display: block;
      margin-right: 9px;
      background: url("#{$img-path}/icon-ann.png") no-repeat 0 0;
    }
    .dropdown-toggle{
      align-items: center; padding: 0;
      &::after{display: none;}
    }
    .dropdown-menu{
      min-width: 150px;
      border-radius: 0;
      padding: 0;
      top: vw(62px); left: -25px;
      >*+*{border-top: 1px solid #b7b7b7}
    }
    .dropdown-item{
      padding: 0.7rem 0 0.7rem 10px; font-weight: 300; text-transform: uppercase; font-size: 12px; color: #000;
      &:active{background: #fff;}
      &:hover{color: var(--green);}
    }
    .avatar{width: 24px; height: 24px; object-fit: cover; border-radius: 50%;}
    span{margin-left: 5px; font-family: 'Source Sans Pro', sans-serif; font-size: 15px; color: #fff;}
    button:focus{box-shadow: none;}
    .icon{width: 21px; height: 21px; margin-right: 10px;}
    .icon-tk{background: url("#{$img-path}/icon-tk.png") no-repeat 0 0/contain;}
    .icon-logout{margin-left: -5px; margin-right: 15px; background: url("#{$img-path}/icon-logout.png") no-repeat 0 0/contain;}
  }
  .login-m{
    display: none; position: absolute; right: 15px;
    .icon{width: 17px; height: 17px; margin-right: 6px;}
    .icon-logout{margin-left: -5px; margin-right: 10px;}
    .dropdown-menu{max-width: 120px; padding: 5px; left: initial; right: -10px;}
  }
  .language{padding-left: 6px; margin-left: 6px; border-left: 1px solid #a1a1a1; line-height: 11px;}
}
.navbar-toggler{display: none;}
.navbar{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 0 15px;
  transition: .5s;
  z-index: 99;
  .close{
    display: none;
    width: 20px; height: 20px;
    background: url("#{$img-path}/close3.png") no-repeat 0 0/contain;
    position: absolute; top: 15px; right: 15px;
    opacity: 1;
  }
  .close:hover{color: #fff !important;}
  img{max-width: 100%;}
}
.navbar-nav{
  margin-left: auto;
  > li{position: relative;}
  > li > a{
    display: block;
    padding: 0 17px;
    font-size: 14px;
    line-height: vw(100px);
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1.4px;
  }
  > li:hover > a{color: var(--green);  text-shadow: 1px 0 0 currentColor;}
  > li > a.active{
    color: var(--green);
  }
  > li:hover .sub-menu{
    display: block;
    opacity: 1;
    visibility: visible;
  }
  span{position: relative; z-index: 2;}
  .sub-menu{
    width: 155px;
    padding: 0 5px;
    display: none;
    background: #fff;
    position: absolute;
    top: vw(101px);
    transition: .2s linear;
    >*+*{border-top: 1px solid #b7b7b7;}
    li{padding: 7px 5px; position: relative;}
    li a{font-size: 12px; color: #000; text-transform: uppercase; line-height: 1.22;}
    li:hover{
      a{color: var(--green);}
    }
  }
}
h1{margin: 0; display: inline-block;}

.highcharts-grid-line{border-style: dashed;}
.highcharts-tick{display: none;}
.highcharts-axis-line{stroke: initial;}
.highcharts-halo{
  fill-opacity: 1;
}
.highcharts-credits{display: none;}
.highcharts-axis-title{
  color: #fff;
  fill: #fff;
}
.highcharts-tracker{

}
.highcharts-tooltip{
  span span{display: none;}
  br{display: none;}
}

//main
.banner{
  &__content{width: 100%; height: 100%; padding-top: vw(145px); position: absolute; top: 0; left: 0; color: #fff;}
  h2,p{white-space: pre-line; text-transform: uppercase;}
  h2{
    margin-bottom: 25px;
    font: 45px var(--utm-avobold);
    line-height: 1.2;
    letter-spacing: 2.25px;
  }
  p{font-size: 18px; line-height: 30px; animation-delay: .4s;}
  .btn_viewmore{margin-top: 70px; animation-delay: .8s;}
  img{width: 100%; height: 100%; object-fit: cover;}
}
.banner--1{
  height: vw(755px); overflow: hidden;
  .banner__img{height: vw(755px);}
  .slick-dots{bottom: vw(80px);}
  .container,.banner__list{height: 100%;}
  .content{height: 100%; flex-direction: column; justify-content: center; padding-bottom: 60px;}
  .box-btn{
    margin-top: 70px;
    >*+*{margin-left: 29px;}
    a{width: 180px; height: 45px;}
    .btn_secondary{color: #fff;}
  }
}
.banner--2{
  background: #001434;
  overflow: hidden;
  .item{
    &__content{width: 100%; height: 100%; padding-left: vw(460px); flex-direction: column; position: absolute; top: 0; left: 0; color: #fff;}
    &__img{
      overflow: hidden;
      &::after{
        content: "";
        width: 100%; height: 100%;
        background: rgba(#000,.3);
        border-radius: vw(400px) 0 0 0;
        position: absolute; top: 0; left: 0;
      }
      img{border-radius: vw(400px) 0 0 0;}
    }
    img{width: 100%; height: 100%; object-fit: cover;}
    h4{margin-bottom: 20px; font: 45px var(--utm-avobold); text-transform: uppercase; letter-spacing: 2.25px;}
    p{font-size: 18px; white-space: pre-line; text-align: center;}
  }
  .slick-dots{bottom: vw(95px);}
  .slick-arrow{
    width: 45px; height: 45px;
    background: #fff;
    border-radius: 50%;
    &::after{
      content: "";
      width: 9px; height: 14px;
      background: url("#{$img-path}/next.png") no-repeat 0 0/contain;
      position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
    }
  }
  .slick-next{right: vw(70px);}
  .slick-prev{left: vw(70px);}
}
.intro{
  padding: vw(145px) 0;
  justify-content: center;
  align-items: flex-end;
  &__img{width: 587px;}
  &__content{width: 546px; padding-left: 66px;}
  h4{margin-bottom: 30px; font-size: 29.2px; letter-spacing: 1.46px; font-weight: 700;}
  p{margin-bottom: 30px; line-height: 1.2; text-align: justify; animation-delay: .4s;}
  .btn_viewmore{margin: 0 auto 20px; animation-delay: .8s;}
}
.introduce{
  padding: 100px 15px 65px;
  &__content{width: 452px;}
  &__video{
    width: 670px; margin-left: 45px;
    video{width: 100%;}
  }
  h4{margin-bottom: 22px; font-size: 32px; font-weight: 700; letter-spacing: 1.6px; line-height: 1.41;}
  p{margin-bottom: 15px; font-size: 16px; line-height: 1.2;}
}
.service{
  padding: vw(61px) 0 vw(110px);
  h2.title{margin-bottom: 35px;}
  .item{display: flex !important;}
  .col-left{
    width: 30.3%; padding: 32px 30px; background: #fff; border-radius: 10px 0 0 10px;
    h4{margin-bottom: 28px; font-size: 25px; font-weight: 700; line-height: 1.07; color: var(--green); text-transform: uppercase; text-align: center;}
  }
  .col-right{width: 69.7%; padding: 32px 46px; background: #001434; border-radius: 0 10px 10px 0;}
  .statistical{
    text-align: center;
    &__item{margin-bottom: 28px;}
    h5{color: #4d4d4d; font-size: 18px; font-weight: 300;}
    span{font-weight: 300; font-size: 33.5px; border-bottom: solid 1px #636363;}
  }
  .percent{
    width: 100%; height: 130px;
    margin-bottom: 26px;
    border-radius: 10px;
    background-color: #001434;
    color: #00ff7f;
    font-size: 75px;
    font-weight: 700;
    sup{font-size: 40px; margin-top: 17px;}
    .icon-arr{width: 26px; height: 60px; margin-right: 18px; background: url("#{$img-path}/ar.png") no-repeat 0 0/contain;}
  }
  .box-btn{
    a{width: 201px; height: 46px; margin: 0 auto;}
    a:nth-child(2){margin-top: 15px;}
  }
  .tab{
    margin-bottom: 25px;
    border-bottom: 1px solid #fff;
    li{width: 50%; text-align: center;}
    a{display: block; padding-bottom: 18px; font-size: 20.8px; line-height: 1.28; text-transform: uppercase; color: rgba(#fff,.8); position: relative;}
    .active{
      color: #fff; font-weight: 700;
      &::after{
        content: "";
        width: 100%; height: 7px;
        background: #00b65b;
        position: absolute; bottom: -1px; left: 0;
      }
    }
  }
  .text{margin-bottom: 35px; padding-left: 70px; font-size: 12.5px; font-weight: 300; color: #fff;}
  .info{
    margin-top: 5px; color: #fff; font-size: 14px;
    >*+*{margin-left: 50px;}
  }
  .featured{
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #fff;
    h4{margin-bottom: 22px; text-transform: uppercase; font-size: 16px; color: #fff;}
    &__list{
      justify-content: space-between;
      li{position: relative; cursor: pointer;}
      li:nth-child(2) img,li:nth-child(5) img{max-width: 70%;}
      li:hover{
        .txt{opacity: 1; visibility: visible;}
        .icon{background: #00ff7f;}
        img.nm{display: none;}
        img.hv{display: block;}
      }
    }
    .icon{
      width: 62px; height: 62px; border: solid 2px #00ff7f; border-radius: 50%; margin: 0 auto;
      img{max-width: 60%; filter: saturate(1.2);}
      img.hv{display: none;}
    }
    .txt{
      margin-top: 7px;
      padding: 3px 5px;
      background: #fff;
      font-weight: 300;
      font-size: 14px;
      white-space: nowrap;
      position: absolute; left: 50%; transform: translateX(-50%);
      opacity: 0; visibility: hidden; transition: .25s;
    }
  }
  .highcharts-point{
    width: 37px; height: 18px;
    border-radius: 0;
    rx: 0.5;
  }
  .slick-arrow{
    width: 50px; height: 50px;
    background: #fff;
    border-radius: 50%;
    &::after{
      content: "";
      width: 9px; height: 14px;
      background: url("#{$img-path}/next.png") no-repeat 0 0/contain;
      position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
    }
  }
  .slick-dots{
    margin-top: 20px;
    button{width: 20px; height: 20px; border-color: #c00; background: #c00; font-size: 12px; color: #fff;}
    .slick-active button{background: #3a0606; border-color: #3a0606;}
  }
  .slick-next{right: -70px;}
  .slick-prev{left: -70px;}
}
.join{
  background: #fff;
  padding: vw(100px) 0;
  h2.title{margin-bottom: 50px;}
  .gift{
    width: 570px; height: 650px;
    border: solid 5px #f0f5f9;
    z-index: 9;
    img{height: 100%; width: 100%; object-fit: cover;}
    &__list{
      width: 102%; height: 102%;
      background: #000;
      position: absolute; top: 20px; left: 20px;
      li{display: none; height: 100%;}
    }
  }
  .step{
    padding: 20px 0 0 220px;
    >*+*{margin-top: 86px;}
    li{display: flex; align-items: center; position: relative; cursor: pointer;}
    li::after{
      content: "";
      position: absolute;
      width: 300px; height: 163px;
      background: url("#{$img-path}/line.png") no-repeat 0 0/contain;
      top: 48px; left: -300px;
      filter: grayscale(1); -webkit-filter: grayscale(1);
    }
    li:nth-child(2)::after{
      height: 2px; width: 200px;
      background: url("#{$img-path}/line2.png") no-repeat 0 0/cover;
      left: -195px;
    }
    li:nth-child(3)::after{
      transform: rotateX(180deg);
      top: inherit;
      bottom: 48px; left: -300px;
    }
    .active{
      .number{background: var(--green);}
      .content{color: #141414;}
      &::after{filter: grayscale(0); -webkit-filter: grayscale(0);}
    }
    .number{
      width: 98px; height: 98px; background: #a1a1a1; border-radius: 50%;
      font-size: 62.5px;
      font-weight: bold;
      color: #fff;
      position: relative;
      z-index: 2;
    }
    .content{
      padding-left: 30px; color: #888;
      background: #fff;
      position: relative; z-index: 2;
      h5{font-weight: 700; font-size: 21px;}
      span{font-size: 18px;}
    }
  }
}
.effective,.report{
  h4{margin-bottom: 15px; text-align: center; font-size: 20px;}
  .tab-sub{
    padding: 2px 0 0 2px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cdcdcd;
    >*+*{margin-left: 2px;}
    a{display: inline-block; padding: 5px 10px; background: #cdcdcd; color: #797673; font-weight: 500;}
    .active{background: #f25826;}
  }
  table{
    width: 100%;
    border-collapse: collapse;
    th{font-weight: 600; font-size: 12px;}
    th,td{padding: 5px; border: 1px solid #ccc; text-align: center;}
    .up{color: #617cf9;}
    .down{color: #c00;}
  }
  .box-table{width: 100%; padding: 2px; overflow: auto;}
  .more{display: block; padding: 10px 0;}
}
.effective{
  padding: vw(100px) 0;
  background: #fff;
  h2.title{margin-bottom: 60px;}
  .pane-content{background: #fff; padding: 10px 5px;}
  .bg-pane{padding: 15px; background: #ebebeb;}
  .icon{
    width: 100px; height: 100px;
    margin: 0 auto 10px;
    border: solid 2px #00b65b;
    border-radius: 50%;
  }
  .tab{
    margin-bottom: 30px;
    justify-content: space-around;
    a{font: 600 18px 'Poppins', sans-serif; color: #8f8f8f; letter-spacing: 2px;}
    img.hv{display: none;}
    .active{
      color: var(--green);
      img.nm{display: none;}
      img.hv{display: block;}
      .icon{background: var(--green); border: none;}
    }
    li:nth-child(2){animation-delay: .3s;}
    li:nth-child(3){animation-delay: .6s;}
  }
}
.report{
  background: #ffffff;
  &__list{
    background: #ebebeb;
    padding: 0 15px;
    li{display: flex; align-items: center; justify-content: space-between; padding: 10px 0; border-bottom: 1px solid #ccc;}
    h5{display: flex; align-items: center; text-transform: uppercase; font-size: 14px; font-weight: 300;}
    h5::before{
      content: "";
      width: 40px;
      height: 30px;
      display: block;
      background: url("#{$img-path}/icon-pdf.svg") no-repeat;
    }
    .btn_download{
      width: 100px;
      height: 35px;
      background: #8f8f8f;
      border-radius: 9999px;
      color: #fff;
      &:hover{ background: var(--green);}
    }
  }
  .tab{
    margin-bottom: 34px;
    border-bottom: 1px solid #a1a1a1;
    li{width: 33.33%; text-align: center;}
    a{
      display: block; padding-bottom: 18px;
      font-size: 24px; line-height: 1.28;
      letter-spacing: 2.71px;
      font-weight: 700;
      text-transform: uppercase; color: #141414; position: relative;
    }
    .active{
      &::after{
        content: "";
        width: 100%; height: 7px;
        background: var(--green);
        position: absolute; bottom: -1px; left: 0;
      }
    }
  }
  .tab-content{
    padding: 15px;
    background: #ebebeb;
    position: relative;
    .tab-content{padding: 0 10px 0; background: #fff;}
  }
  .tab-pane{
    background: #fff;
  }
}
.report--cs{
  padding-top: vw(95px);
}
.tariff{
  padding: vw(100px) 0;
  background: #fff;
  h2.title{margin-bottom: 50px;}
  .text{
    padding: 0 3px;
    margin-top: 15px;
    font-size: 13px;
    line-height: 14px;
    color: #666;
  }
  &__list{
    justify-content: center;
    >*+*{margin-left: 88px;}
    li{max-width: 285px;}
    li:nth-child(2){animation-delay: .3s;}
    li:nth-child(3){animation-delay: .6s;}
    .content{
      width: 285px; height: 180px;
      padding: 0 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: var(--green);
      border-radius: 15px;
      color: #fff;
    }
    h5{display: block; margin-bottom: 8px; font-size: 27px;}
    span{font-size: 35px; letter-spacing: 1.77px; font-weight: 700; text-transform: uppercase; line-height: 1.47;}
  }
}
.partner{
  padding: vw(120px) 0;
  background: #001434;
  &__list{padding: 0 60px;}
  img{display: block; margin: 0 auto;}
  .slick-arrow{
    width: 10px; height: 18px;
    background: url("#{$img-path}/next1.png") no-repeat 0 0/contain;
  }
  .slick-next{right: 0;}
  .slick-prev{left: 0;}
}
.feedback{
  background: #fff;
  padding: vw(140px) 0 vw(100px);
  &.pt-fb{padding-top: vw(120px);}
  &__list{max-width: 970px; margin: 50px auto 0;}
  .item{
    display: flex !important;
    border-radius: 15px;
    overflow: hidden;
    &__content{
      width: 62%;
      min-height: vw(578px);
      padding: 72px;
      font-size: 26px;
      font-weight: 700;
      color: #fff;
      background: var(--green);
      span{display: block; margin-top: 20px;}
    }
    &__img{
      width: 38%;
      img{width: 100%; height: 100%; object-fit: cover; object-position: center;}
    }
  }
  .slick-arrow{
    width: 17px; height: 28px;
    background: url("#{$img-path}/next.png") no-repeat 0 0/contain;
  }
  .slick-next{right: -100px;}
  .slick-prev{left: -100px;}
}
.benefit{
  padding: vw(50px) 0 vw(150px);
  background: #fff;
  &.bg{background: #ebebeb; padding: vw(70px) 0;}
  &__list{
    max-width: 1080px;
    margin: 0 auto;
    justify-content: space-around;
    li{padding: 0 15px;}
    li:nth-child(2){animation-delay: .3s;}
    li:nth-child(3){animation-delay: .6s;}
    li:nth-child(4){animation-delay: .9s;}
    .icon{width: 126px; margin: 0 auto;}
  }
  h2.title{margin-bottom: 70px;}
  h5{margin-top: 25px; font-size: 17px; font-weight: 600; text-transform: uppercase;}
}
.news{
  padding: 40px 0;
  h2.title{
    margin-bottom: 10px;
    padding-bottom: 12px;
    border-bottom: 1px solid #959595;
    text-align: left;
    font-size: 29px;
    color: #3b3a3a;
    &::after{
      content: "";
      width: 175px; height: 6px;
      background: var(--green);
      position: absolute; bottom: -1px; left: 0;
    }
  }
  &__list{
    margin: 0 -8px;
    .post{
      width: 33.33%; padding: 0 8px;
      h3{font-size: 12px; letter-spacing: 0.57px; line-height: 24px;}
    }
  }
  .highlights{
    padding: 5px 0 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #959595;
    .post{
      &__thumb{width: 45%;}
      &__content{width: 55%; padding-left: 15px;}
      h3{line-height: 1.65; font-size: 14.6px; letter-spacing: 0.73px;}
    }
  }
  .post{
    h3 a{color: #3b3a3a;}
  }
}
.video{
  max-width: 400px;
  h2.title::after{display: none;}
  &__hig{
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #959595;
    video{width: 100%;}
  }
  &__list{
    .post{
      padding: 6px 0;
      &__thumb{
        width: 50%; height: 115px; overflow: hidden; position: relative;
        &::after{
          content: "";
          width: 31px; height: 31px;
          background: url("#{$img-path}/icon-video.png") no-repeat 0 0/contain;
          @include center;
        }
      }
      &__content{width: 50%; padding-left: 8px;}
      p{font-size: 12px; letter-spacing: 0.57px; line-height: 16.7px;}
      img{width: 100%; height: 100%; object-fit: cover;}
    }
  }
}
.chart{
  padding: 30px 70px 10px;
  border-radius: 10px;
  background-color: #001434;
  .highcharts-point{
    width: 26px; height: 12px;
    rx: 1;
  }
}

//landing
.characteristics{
  padding: 55px 0 45px;
  border-top: 1px solid #959595;
  h2.title{margin-bottom: 34px;}
  &__list{
    justify-content: center;
    li{width: 33.33%; margin: 28px 0;}
    .icon{
      width: 100px; height: 100px; margin: 0 auto 8px;
      border: solid 2px #00b65b;
      border-radius: 50%;
    }
    h5{margin-bottom: 5px; text-align: center; font-weight: 700;}
    p{font-weight: 300; text-align: center; line-height: 20px;}
  }
}
.policy{
  background: #fff;
  padding: 100px 0 68px;
  h2.title{margin-bottom: 50px;}
  .tab{
    margin-bottom: 15px;
    justify-content: space-between;
    border-bottom: 1px solid #a1a1a1;
    a{display: block; padding: 12px 8px; font-weight: 700; font-size: 18.8px; letter-spacing: 1.88px; position: relative;}
    .active::after{
      content: "";
      width: 100%; height: 7px; background: var(--green);
      position: absolute; bottom: -1px; left: 0;
    }
  }
  .tab-content{
    background: #ebebeb;
    padding: 45px 60px;
  }
  .tab-pane{background: #fff;}
  .document{
    height: 400px; overflow: auto;
    &::-webkit-scrollbar{width: 10px;}
    &::-webkit-scrollbar-track{background: #ccc;}
    &::-webkit-scrollbar-thumb{background: #555555;}
  }
}
.accordion{
  background: #fff;
  padding: 45px 15px 0;
  >*+*{margin-top: 14px;}
  .item{
    max-width: 1170px; margin-left: auto; margin-right: auto;
    &__header{height: 72px; background: #ccc; padding: 0 65px; cursor: pointer;}
    &__content{
      background: #fff;
      padding: 20px 65px;
    }
    h5{margin-bottom: 0; font-size: 20.8px; letter-spacing: 2.08px; font-weight: 700;}
    button{width: 22px; background: none; margin-left: auto;}
    button::after{
      content: "+";
      font-size: 41.7px; letter-spacing: 4.17px; color: #494949; font-weight: 700;
    }
  }
  .active{
    button::after{content: "-";}
  }
}

//footer
footer{
  width: 100%;
  background: #006633;
  padding: 32px 0 0;
  color: #fff;
  &.bg-ft{background: #006633;}
  h4{
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 15px;
    &::after{
      content: "";
      width: 21px;
      height: 1px;
      display: block;
      background: #67d5b5;
      margin-top: 5px;
    }
  }
  .ft{margin-bottom: 45px;}
  .fb{
    width: 100%;
    background: #000;
    font-size: 11.5px; color: #fff;
    .container{height: 80px;}
  }
  .logo{width: 172px; margin: 0 auto;}
  .register{
    form{max-width: 230px;}
    h5{font-size: 11.5px; margin-bottom: 5px;}
    input{width: 230px; font-size: 9px;}
    button{width: 12px; height: 12px; top: 4px;}
  }
  .info{
    font-size: 10.4px; font-weight: 300; line-height: 20.3px;
  }
  .link{
    a{font-weight: 400; font-size: 10px; letter-spacing: 1px; color: #fff; text-transform: uppercase; line-height: 23.5px;}
  }
  .social{
    justify-content: flex-end;
    padding-bottom: 20px;
    >*+*{margin-left: 18px;}
    .icon-facebook{width: 12px; height: 22px; background: url("#{$img-path}/icon-facebook.png") no-repeat;}
    .icon-zalo{width: 22px; height: 23px; background: url("#{$img-path}/icon-zalo.png") no-repeat;}
    .icon-google{width: 20px; height: 22px; background: url("#{$img-path}/icon-google.png") no-repeat;}
  }
  .backtop{background: transparent; color: #fff;}
  .icon-back{width: 12px; height: 12px; margin-left: 9px; background: url("#{$img-path}/icon-back.png") no-repeat;}
}

//uikit
img{max-width: 100%;}
.icon-chart{
  width: 15px; height: 7px; display: inline-block;
  background: url("#{$img-path}/icon-arr.png") no-repeat;
}
a{transition: .25s;}
a:hover{color: inherit;}
.pr{position: relative;}
.icon{display: flex; align-items: center; justify-content: center;
}
h2.title{
  font-size: 33.3px; font-weight: 700;
  text-transform: uppercase; text-align: center; letter-spacing: 3.33px; position: relative;
  a:hover{color: var(--green);}
}
button{
  cursor: pointer; border: none; background: none;
  &:focus{outline: none;}
}
.bg-gray{background: #ccc;}
.container{max-width: 1200px;}

.pr{position: relative;}
.more:hover{text-decoration: underline;}
a{color: #140C25; transition: .25s;}
.flex-nowrad{display: flex; flex-wrap: nowrap;}
.btn_viewmore{
  width: 180px; height: 45px;
  background: var(--green);
  border-radius: 9999px;
  font-size: 18.8px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.88px;
  &:hover{
    background: #021f11;
    color: #fff;
  }
}
button{
  padding: 0;
  border: none;
  cursor: pointer;
  &:focus{outline: none;}
}
.slick-arrow{
  border: none; text-indent: -9999em;
  position: absolute; top: 50%; transform: translateY(-50%); z-index: 2;
  &:focus{outline: none;}
}
.slick-prev{transform: translateY(-50%) rotate(180deg);}
.slick-slide{
  a:focus{outline: none;}
}
.box-breadcrumb{
  width: 100%;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  overflow: auto;
  .breadcrumb{
    flex-wrap: nowrap; padding: 16px 12px; margin: 0 auto;
    background: #fff; font-weight: 500; line-height: 20px;
    &-item{
      white-space: nowrap;
      a{white-space: nowrap;}
    }
  }
  .breadcrumb-item.active {
    color: #140C25; font-weight: 500;
  }
  a{font-weight: 700;}
  a:hover{color: var(--red);}
}
.breadcrumb-item + .breadcrumb-item::before{
  content: "";
  width: 11px; height: 11px;
  background: url("#{$img-path}/next.png") no-repeat 0 0/contain;
  padding-right: 0; margin-right: 12px;
}
.breadcrumb-item + .breadcrumb-item{padding-left: 12px;}
.slick-dots{
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  li{margin: 0 5px;}
  button{
    width: 14px; height: 14px;
    border: solid 2px #fff;
    background: transparent;
    border-radius: 50%; font-size: 0;
  }
  .slick-active button{background: #fff;}
}
.pagination{
  padding-top: 15px;
  margin-top: 0;
  background: #ebebeb;
  align-items: center;
  justify-content: center;
  li{margin: 0 10px;}
  .page-link{
    padding: 0;
    width: 30px; height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 50% !important;
    background: none; font-size: 16px; color: #140C25; margin-left: 0; line-height: 30px;
  }
  .active .page-link{background: #ccc; color: #fff; border: 1px solid #ccc;}
}
.hotline{
  color: #fff; font-size: 14.6px;
  a{color: inherit;}
}
.register{
  h5{margin-right: 12px; display: block; text-align: left; color: #fff;}
  input{width: 300px; padding: 2px 0; border: none; border-bottom: 1px solid #fff; background: transparent; color: #fff;}
  input::placeholder{color: rgba(#fff,.6);}
  input:focus{outline: none;}
  button{
    width: 15px; height: 15px;
    background: url("#{$img-path}/icon-ab.png") no-repeat 0 0/contain;
    position: absolute; right: 0; top: 5px;
  }
}
.btn_primary{
  background: var(--green);
  border-radius: 9999px;
  letter-spacing: 1.9px;
  font-size: 19px;
  color: #fff;
  text-transform: uppercase;
  &:hover{
    color: #fff;
    background: #021f11;
  }
}
.btn_secondary{
  border: solid 2px var(--green);
  border-radius: 9999px;
  letter-spacing: 1.9px;
  font-size: 19px;
  color: #001434;
  text-transform: uppercase;
  &:hover{color: #fff; background: var(--green);}
}

@media (max-width: 1200px) {
  header{
    .navbar{padding: 5px 15px;}
    .login .dropdown-menu{left: inherit; right: -10px;}
    .logo{width: 140px;}
  }
  .banner{
    h2{font-size: 40px;}
    .btn_viewmore{margin-top: 40px;}
  }
  .intro{
    padding: 40px 15px;
    &__img,&__content{max-width: 50%;}
    &__content{padding-left: 15px;}
  }
  .introduce{
    padding: 40px 15px;
    h4{font-size: 26px; letter-spacing: 1px;}
    p{font-size: 14px;}
    &__video{width: 60%; margin-left: 0; padding-left: 20px;}
    &__content{width: 40%; }
  }
  .join{
    .gift,.step{max-width: 50%;}
    .gift{height: 500px;}
    .step{
      padding-left: 17%;
      >*+*{margin-top: 60px;}
      .number{ width: 60px; height: 60px; font-size: 35px;}
      li:after{
        width: 150px;
        height: 83px;
        top: 30px; left: -150px;
      }
      li:nth-child(3)::after{
        bottom: 30px;
        left: -147px;
      }
    }
  }
  .tariff__list{
    >*+*{margin-left: 0;}
    li{max-width: 33.3%; width: 100%; padding: 0 15px;}
    h5{font-size: 22px; margin-bottom: 10px;}
    span{font-size: 30px;}
    .content{width: 100%; height: auto; padding: 20px;}
  }
  .service{
    .slick-arrow{width: 35px; height: 35px; box-shadow: 0 1px 10px #9d9d9d;}
    .slick-next{right: -10px;}
    .slick-prev{left: -10px;}
  }
  .policy{
    padding: 40px 0;
    h2.title{margin-bottom: 30px;}
    .tab{
      a{font-size: 16px; letter-spacing: .5px;}
      .active::after{height: 4px;}
    }
    .tab-content{padding: 15px;}
    .document{height: 300px;}
  }
}

@media (max-width: 1023px){
  header{
    height: 70px;
    &.scroll{
      animation-duration: 0s;
      .navbar-nav{
        > li > a{line-height: inherit;}
        .sub-menu{top: 0;}
      }
      .login{
        .dropdown-menu{top: 41px;}
      }
    }
    .topheader{
      display: none; height: 60px;
      h5{display: none;}
    }
    .topheader.show{display: flex;}
    .navbar{padding: 0 15px; height: 100%;}
    .logo{width: 100px; position: absolute; left: 50%; transform: translateX(-50%);}
    .login,.language{display: inline-block; vertical-align: middle;}
    .login{
      margin-left: 35px;
      .dropdown-menu{top: 41px;}
    }
    .login-m{display: block;}
  }
  .navbar-toggler{
    display: block;
    width: 21px;
    height: 22px;
    padding: 0; position: absolute;
    top: 20px;
    left: 15px;
    background: none; border: none;
    span{
      display: block; width: 21px; height: 2px;
      background: #000; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 21px; height: 2px; background: #000; position: absolute; border-radius: 2px;
    }
    span:before{top: -7px;}
    span:after{width: 21px; bottom: -7px;}
  }
  .navbar-toggler.active{
    span{width: 21px; transform: rotate(45deg);}
    span:after{width: 21px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar{
    padding: 12px 14px;
    .close{display: block;}
    .brand img{max-width: 175px;}
    &.scroll{
      padding: 12px 14px;
      .brand img{max-width: 175px;}
    }
    &.active{
      .navbar-collapse{left: 0;}
    }
    .close{display: block;}
  }
  .navbar-collapse{
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 30px;
    background: #140C25;
    position: fixed; left: -100%; top: 0;
    transition: left .2s linear;
    z-index: 999; overflow: auto;
    ul{overflow: auto;}

  }
  .navbar-nav{
    padding: 0 24px 0 32px;
    > li{padding: 15px 0;}
    > li > a{padding-left: 0; font-size: 16px; line-height: inherit; color: #fff;}
    > li > a.active{color: #fff;}
    > li:hover{
      .sub-menu{display: none;}
    }
    > li.active{
      padding: 15px 0 5px;
      .sub-menu{
        display: block; background: transparent; padding-top: 5px;
        >*+*{border-top: 1px solid #1c1231;}
      }
      .show-menu{transform: rotate(180deg);}
    }
    a:hover:before,a.active:before{
      width: 50px; bottom: 0;
    }
    .show-menu{
      width: 18px; height: 18px;
      background: url("#{$img-path}/down-arrow.png") no-repeat 0 0/contain;
      position: absolute; right: 0; top: 16px;
      transition: .4s;
    }
    .sub-menu{
      width: auto;
      display: none;
      background: none;
      box-shadow: none;
      position: relative;
      top: 0;
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      li:last-child{padding-bottom: 0;}
      li a{padding: 0; font-size: 13px; color: rgba(255, 255, 255, 0.7);}
      &:before{display: none;}
    }
  }
  .register{
    input{width: 100%; max-width: 300px;}
  }
  .policy{
    .tab a{font-size: 14px; letter-spacing: 0;}
  }
  .accordion{
    padding: 30px 15px;
    .item{
      h5{font-size: 14px; letter-spacing: .4px;}
      button::after{line-height: 1; font-size: 30px;}
      &__header{padding: 0 15px; height: 50px;}
      &__content{padding: 15px;}
    }
  }
}

@media (max-width: 768px){
  header{height: 60px;}
  .banner--1{
    height: 400px;
    h2{font-size: 30px;}
    p{font-size: 16px;}
    .banner__img{height: 400px;}
  }
  .intro{
    align-items: flex-start;
    h4{margin-bottom: 20px; font-size: 20px;}
  }
  .service{
    padding: 30px 0;
    .col-left,.col-right{width: 100%;border-radius: 10px;}
    .percent{
      height: 100px; font-size: 50px; max-width: 300px; margin: 0 auto 25px;
      .icon-arr{width: 15px; height: 35px;}
      sup{font-size: 30px;}
    }
  }
  .report{
    .tab{
      a{font-size: 20px; letter-spacing: 1px;}
    }
    &__list{
      padding: 0;
      .btn_download{width: 80px; height: 30px;}
    }
  }
  .partner__list{
    .item{padding: 0 15px;}
  }
  .banner--2{
    .item{
      h4{font-size: 34px;}
      p{font-size: 16px;}
    }
    .btn_viewmore{margin-top: 20px;}
  }
  .feedback{
    .item{
      &__content{padding: 30px; font-size: 20px;}
    }
  }
  .benefit__list{
    .icon{width: 100px;}
    h5{margin-top: 15px; font-size: 13px;}
  }
  .video{margin-top: 30px;}

  footer{
    .col-md-6{margin-bottom: 30px;}
  }
}

@media (max-width: 640px){
  .banner--1{
    .banner__content{padding-top: 60px;}
    .box-btn{
      margin-top: 40px;
      >*+*{margin-left: 4%;}
      a{max-width: 48%; height: 40px; font-size: 17px; letter-spacing: .5px;}
    }
    h2{font-size: 24px; margin-bottom: 15px;}
    p{font-size: 14px; line-height: 22px;}
  }
  .intro{
    &__img{margin-bottom: 30px;}
    &__img,&__content{max-width: 100%;}
  }
  .introduce{
    h4{margin-bottom: 15px; font-size: 22px; line-height: inherit;}
    &__content,&__video{width: 100%;}
    &__video{padding-left: 0;}
  }
  .service{
    h2.title{margin-bottom: 20px;}
    .col-left,.col-right{padding: 30px 15px;}
    .col-left h4{font-size: 20px;}
    .statistical{
      h5{font-size: 16px;}
      span{font-size: 26px;}
    }
    .text{padding-left: 10px;}
    .info > * + * {
      margin-left: 15px;
    }
    .tab{
      a{font-size: 13px;}
      .active::after{height: 3px;}
    }
    .featured{
      &__list{padding: 0 10px;}
      .icon{width: 40px; height: 40px;}
      .txt{font-size: 10px; padding: 2px;}
    }
    .slick-arrow{top: 45%;}
  }
  .join{
    padding: 30px 0;
    h2.title{margin-bottom: 20px;}
    .gift{
      max-width: 278px; height: 310px; margin: 50px 0 30px 10%;
      &__list{left: -6%; top: -6%;}
    }
    .step{
      max-width: 100%;
      padding-left: 0;
      >*+*{margin-top: 35px;}
      li{padding-left: 35px;}
      li::after{
        width: 93px !important; height: 410px !important;
        background: url("#{$img-path}/line3.png") no-repeat 0 0/100% 100% !important;
        top: 28px !important; left: -60px !important; display: none;
      }
      li:nth-child(3)::after{transform: rotateX(0); height: 300px !important;}
      li.active::after{display: block;}
      .number{width: 55px; height: 55px; font-size: 33px;}
      .content{
        padding-left: 15px;
        h5{font-size: 15px;}
        span{font-size: 13px;}
      }
    }
    .flex-lc{
      flex-direction: column-reverse;
    }
  }
  .effective{
    padding: 30px 0;
    h2.title{margin-bottom: 30px;}
    h4{font-size: 16px;}
    .tab{
      li{width: 33.33%; text-align: center;}
      a{letter-spacing: 0; font-size: 14px;}
    }
    .icon{width: 60px; height: 60px;}
    img{max-width: 50%;}
  }
  .chart{padding: 20px;}
  .report{
    h4{font-size: 16px;}
    .tab a{font-size: 16px; letter-spacing: .5px;}
  }
  .tariff__list{
    li{width: 100%; max-width: 100%;}
    h5{font-size: 18px;}
    span{font-size: 26px;}
    >*+*{margin: 20px 0 0;}
  }
  .partner{
    &__list{padding: 0 20px;}
  }
  .banner--2{
    .item{
      h4{font-size: 22px;}
      p{font-size: 13px; line-height: 20px;}
      &__content{padding: 0 30px;}
    }
    .item__img img{
      min-height: 340px;
    }
    .slick-arrow{width: 30px; height: 30px;}
    .slick-next{right: 5px;}
    .slick-prev{left: 5px;}
  }
  .tariff{
    padding: 30px 0;
    h2.title{margin-bottom: 30px;}
  }
  .feedback{
    &__list{margin-top: 30px;}
    .item{
      flex-direction: column-reverse;
      &__img,&__content{width: 100%;}
      &__content{padding: 15px; font-size: 16px;}
    }
    .slick-arrow{
      width: 35px; height: 35px;
      background: #fff; border-radius: 50%;
      box-shadow: 0 1px 10px #9d9d9d;
      &::after{
        content: "";
        width: 12px; height: 20px;
        background: url("#{$img-path}/next.png") no-repeat 0 0/contain;
        @include center;
      }
    }
    .slick-next{right: -15px;}
    .slick-prev{left: -15px;}
  }
  .benefit{
    padding: 30px 0;
    &.bg{padding: 30px 0;}
    h2.title{margin-bottom: 30px;}
    &__list{
      li{margin-bottom: 20px; padding: 0 10px;}
      .icon{width: 80px;}
      h5{font-size: 11px; margin-top: 10px;}
    }
  }
  .news{
    .post{
      h3{line-height: initial;}
    }
    .highlights{
      .post__content{margin-top: 0;}
      .post{
        h3{font-size: 13px; line-height: inherit;}
      }
    }
  }

  //landing
  .characteristics{
    padding: 30px 0;
    h2.title{margin-bottom: 15px;}
    &__list{
      li{width: 50%; margin: 0; padding: 15px 5px;}
      .icon{width: 70px; height: 70px;}
      li:nth-child(2),li:nth-child(5){
        img{max-width: 75%;}
      }
      img{max-width: 60%;}
    }
  }
  .policy{
    .tab{
      flex-wrap: nowrap; overflow: auto;
      a{white-space: nowrap;}
    }
  }

  footer{
    .hotline,.register{width: 100%;}
    .logo{width: 140px; margin: 20px 0;}
  }


  h2.title{font-size: 20px; letter-spacing: 1px;}
  .btn_viewmore{width: 160px; height: 38px; font-size: 16px;}
}
@media (max-width: 320px){
  .service{
    .featured .icon{width: 35px; height: 35px;}
  }
  .hotline{font-size: 13px;}
  .register{
    width: 150px;
    input{font-size: 13px;}
  }
  .banner{
    p{white-space: normal;}
  }
  .effective{
    .tab a{font-size: 11px;}
  }
  .report{
    .tab-content{padding: 10px 10px 40px;}
    .tab-sub{
      a{font-size: 13px; padding: 5px;}
    }
  }
}

//animated
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn{
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


@-webkit-keyframes moveheader {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px);
  }
}
